[2017-05-30 08:22] sanmation opened #1203 "Installation is not progressing from Timezone page"
Hi
I was trying to download anchor CMs on my blog (sub-folder) with the same method it mentioned in the read me file. Unfortunately the installation is not moving from the timezone and Language screen. If you press next it just refresh and stays in the same page.

How do I continue?

Thanks in advance

[2017-05-31 21:28] remminator opened #1204 "Scotch Box doesn't wanna install Anchor CMS"
Hello.

I tried installing Anchor CMS on my Scotch Box (vagrant) installation, but it's telling me "Anchor requires the php module GD to be installed."

What do?

[2017-06-01 07:56] daviddarnes commented on #1204
Hi there! Can you please fill in the details of your setup https://github.com/anchorcms/anchor-cms/blob/master/.github/ISSUE_TEMPLATE.md as stated in the guidelines https://github.com/anchorcms/anchor-cms/blob/master/.github/CONTRIBUTING.md#how-to-submit-issues

[2017-06-01 12:44] TheBrenny commented on #1204
Like @daviddarnes has said, you should really follow the template. At present, we have no clue on the context of the situation other than you're working with vagrant to get an install of Anchor working. Realistically, we can't help you without knowing more.

I'm closing this due to the lack of information, but by all means open a new issue that follows the template. Answering the questions such th

[2017-06-01 12:44] #1204 closed

[2017-06-01 12:50] TheBrenny commented on #1203
Would've been nice if you could've followed the issue template........

But can you show us what your JS log is showing? Maybe are there any issues on the networking tab of chrome's devtools? Maybe check any server logs?

Really having zero context of the server is making things more difficult.

[2017-06-01 13:02] TheBrenny commented on #1202
Cheers for this one!! How has your solution worried? If it's good enough, maybe send through a PR! :D

[2017-06-01 14:53] remminator commented on #1204
Hello again.

Sorry for the confusion. I really should have posted a bit more details and perhaps done some more research :)

I'll ask the fellows over at Scotch Box if they can't help.

Thank you for your patience - love the Anchor CMS btw :)

[2017-06-01 16:45] shimshinatti commented on #1202
It seems to be working fine. It just follows the logic behind adding custom fields.

[2017-06-02 01:16] Gibigbig commented on #1203
Using php7 and having the saem issue.

[2017-06-02 01:38] TheBrenny commented on #1203
@Gibigbig, please refer to my comment above.

[2017-06-06 18:40] GotExx commented on #1189
Same issue with latest master version. I've use the installer with GTM+2 Paris Timezone

[2017-06-11 14:00] TheBrenny opened #1205 "SQLERROR 1067 fires after installing Anchor for some users"
### Summary

After installing Anchor CMS, if the server doesn't have MySQL 5.6 or higher, any visitor to the page will encounter an error, claiming:

[code]

### Expected Behaviour

Visitors should be able to access the page with no issues, whatsoever.

### Actual Behaviour

Visitors hit this brick wall with a stack trace:

[code]

### Context details (if applicable)

- Anchor version: 0.12.1
- Se

[2017-06-12 15:54] TheBrenny commented on #1203
Closing due to lack of information provided. Feel free to open a new issue following the template that pre-fills the text area.

[2017-06-12 15:54] #1203 closed

[2017-06-15 23:43] TheBrenny commented on #1190
I've got quite a bit to say, so brace yourselves...

First off, I'd like to take the time to say cheers for reporting the issues that you're having, and, from the team, apologies for not promptly fixing them. As you can appreciate, Anchor isn't a full-time job so we heavily rely on the community to contribute code where they can. But thank you, once again for pointing these issues out.

On a note

[2017-06-19 13:13] TheBrenny commented on #1197
Hey there! Can you try the absolute latest version from GitHub - the master branch? It's difficult to troubleshoot your issues if you haven't filled out the template that pre-fills the editor. 😞

[2017-06-19 13:14] TheBrenny commented on #1195
Cheers for following the template! Are you able to double check that this still exists in the latest version of Anchor?

[2017-06-24 19:06] cebreus opened #1208 "New page is not created"
### Summary

Unable to create a new page.

### Expected Behaviour

Be able to create a new page.

### Actual Behaviour

- Log in admin > open the _Pages_ (/admin/pages/) > click on the button _Create a new page_ (/admin/pages/add).
- New page is not created.

![01-bworser-with-console](https://user-images.githubusercontent.com/1650647/27511258-39b9d872-5920-11e7-88e7-a0a951497c3a.png)

### Context

[2017-06-25 14:49] TheBrenny commented on #1208
Oh whoops! What an interesting catch! I'm unable to get to this one now or during the week - if someone can, start here: [anchor/routes/pages.php#L222](https://github.com/anchorcms/anchor-cms/blob/master/anchor/routes/pages.php#L222)

I think we should just be able to take this out, no?

[2017-06-26 10:39] Radiergummi commented on #1208
Should be enough to replace `'id' => $id` with `'id' => $page->id`, shouldn't it?

[2017-06-26 10:40] cebreus commented on #1208
Another interesting connection. A new page can not be created even if the (new) 'slug url' is already used. After removing the messages, this information can not be completed. I did not find it until I installed an older version of Anchor CMS that had these messages.

I think it would be advisable to return debug and status messages at least as a listing in the browser console as console.log or co

[2017-06-26 14:43] cebreus commented on #1208
**@Radiergummi suggestion works!** Thanks a lot. Please do not forget make a commit ;-)

[2017-06-27 22:54] #1208 closed

[2017-07-05 12:32] daniellobrunello commented on #1189
Same problem here.
0.12.1 (bundled and source) works fine.
In 0.12.3.:
Error logs state no problems. mysql query log says there is no query that should create the tables. Database connection is established and the directly quit.

[2017-07-05 14:59] TheBrenny commented on #1189
Perhaps there's a permissions issue with the Database Account that you've given during install? Can someone confirm the permissions that their account has?

[2017-07-05 15:16] daniellobrunello commented on #1189
Tried it multiple times with different versions. Issue only on 0.12.3.

[2017-07-05 22:43] TheBrenny commented on #1189
Are you able to paste some screenshots of the table/DB? This isn't happening to me?

[2017-07-06 03:37] joaopaulofilho commented on #1189
I've faced this issue too. It seems that when installing, it does check if the database is created (of course, we've to create it to proceed to installation), but then it doesn't actually install the tables.

Preparing a PR for this.

If there is some sort of contributing guideline that I didn't followed, please let me know (sort of a beginner in contributing with projects).

[2017-07-08 10:12] #1189 closed

[2017-07-09 05:59] KermMartian opened #1213 "Installing 0.12.3 Yields "Table mydatabase.myprefix_meta doesn't exist" on Fresh Install"
### Summary

After unpacking Anchor, discovering that Composer was required, and going through the installation steps, the frontpage did not work, and I discovered no tables had actually been created. I replicated this with a database user with only create, select, insert, update, and delete, as well as a database user with all permissions on the given database.

### Expected Behaviour

- Unzip re

[2017-07-09 06:09] TheBrenny commented on #1213
Awesome detail for the issue! Thanks heaps!

Just a few questions to help diagnose this issue:
1) Under "Actual Behaviour", you identify "all of the above" - I'm assuming you're referring to the "Summary"?
2) Are you able to provide screenshots of your PHPMyAdmin/MySQL CLI?

I'll pull the repo and test it out - possibly could've been caused by #1212, or if it was merged after you pulled the repo,

[2017-07-09 06:11] KermMartian commented on #1213
I grabbed the release zip build from the top of the Releases page, actually. Also, I should clarify that I mean that I performed all those steps, and the installer /appeared/ to work fine, but on the last step, I saw the indicated error message instead of my new blog index.

[2017-07-09 06:15] TheBrenny commented on #1213
Aah, I see. Are you able to grab the zip from the master? This issue has been fixed with #1212. I'll leave this open pending your findings, and I'll fix up the zip on the release page.

[2017-07-09 16:52] KermMartian commented on #1213
With the latest master zip, I receive the following error message on the blog homepage after installing (progress, at least!):

[code]

[2017-07-10 07:09] TheBrenny commented on #1213
Unfortunately, the column is of `DATETIME` type, rather than a `TIMESTAMP` type. `... DATETIME DEFAULT CURRENT_TIMESTAMP ...` is only available in MySQL 5.6+.

[2017-07-10 16:09] KermMartian commented on #1213
Aha, thanks for that clarification. May I recommend an update to https://anchorcms.com/docs , indicating the updated PHP version and MySQL version required, as well as the fact that Composer is also now a requirement? Thanks in advance!

[2017-07-10 21:34] KermMartian opened #1214 "[Feature] Allow Backdating Posts"
(I'd submit this on Feathub as indicated in the contribution guidelines, but it looks like Feathub is down).

I suggest that at least Admin-level users, and perhaps others, have the option to backdate new posts, in addition to the existing default of applying the current timestamp. This would probably take the form of an optional field on the new post page, allowing a date to be specified.

Apolog

[2017-07-11 08:43] crshd commented on #1213
Same thing happens on my dev-machine. Installed with `composer create-project anchorcms/anchor-cms anchor`

Environment:
[code]

Manually cloning master and installing deps works fine.

[2017-07-12 21:12] Wewannado opened #1215 "Sql error after fresh install"
### Summary

Did a fresh install
After install, when entering the site, I receive the error:

Database Error: SQLSTATE[42000]: Syntax error or access violation: 1067 Invalid default value for 'updated'
SQL: ALTER TABLE `anchor_posts` ADD COLUMN `updated` DATETIME DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP AFTER `created`
The error has been logged in /anchor/errors.log

### Expected Beha

[2017-07-12 22:34] Wewannado commented on #1215
Ok, after some digging, (and a more extensive reading of the current open issues)  DATETIME DEFAULT CURRENT_TIMESTAMP ... is only available in MySQL 5.6+.

Somebody needs to update the Docs https://anchorcms.com/docs because it says MySQL 5.2+ is required.
Should be 5.6+.

[2017-07-13 08:24] daviddarnes commented on #1215
Thanks for the spot! We do have this in our new documentation https://docs.anchorcms.com/ but it looks like the redirect isn't working. @rwarasaurus could you look into this?

[2017-07-13 14:33] TheBrenny commented on #1215
This is a duplicate of #1205. Would've saved some time for you if you had searched the issues on GH like the guidelines ask. :confounded:

This has been fixed within the repo, however I understand it's slightly misleading for the two documentation pages to have conflicting information. I guess once @rwarasaurus jumps on to fix it, this'll stay open.

[2017-07-13 14:38] TheBrenny commented on #1213
@crshd Just confirming by "same thing", you mean that you used composer to install the project, ran through the installation process of Anchor, and nothing popped up in the DB? But when grabbing the zip of Anchor from GH, it all works? This really is a strange one. It might have something to do with the way that Composer/Packagist gets the project? @CraigChilds94 might know more on this topic?

[2017-07-13 14:46] TheBrenny commented on #1214
This is already a feature within the current Anchor (available on GH). Edit a post and change it's `Published on (GMT)` field?

[2017-07-13 18:00] crshd commented on #1213
Exactly. After creating a project with `composer create-project` and running the installer, the database was completely empty. Cloning master and running the installer did populate the DB.

Anchor seems to be running fine on MariaDB. I haven't noticed anything going wrong so far.

[2017-07-13 22:57] Wewannado commented on #1215
Regarding the fix in the repo:
Im not sure if PHP 5.6+ is required, because I had 5.6.30 from the beggining, but what I'm sure is that It's actually MySQL, as stated in https://stackoverflow.com/questions/168736/how-do-you-set-a-default-value-for-a-mysql-datetime-column who needs to be in a version greater than 5.6.5 in order to use DATETIME DEFAULT CURRENT_TIMESTAMP

Current documentation, https:

[2017-07-14 08:02] daviddarnes commented on #1215
@Wewannado thanks for pointing this out! Shame its such a specific version for usage, any way we can easily make this compatible with the main 5.6 ver?

[2017-07-14 09:02] TheBrenny commented on #1215
@Wewannado Wowee. What was I thinking writing an issue for an incompatible MySQL version, but then apply a patch which bumps the PHP req. 😅 Cheers for pointing that out to me!

I'll reopen the initial issue, and apply an *actual* fix for it as soon as I can, using the [`PDO::getAttribute(PDO::ATTR_SERVER_VERSION)`](http://php.net/manual/en/pdo.getattribute.php) method.

[2017-07-17 21:17] KermMartian commented on #1214
Perfect, that workflow will do the trick for me. Would there be sufficient interest in having that option available from the original post composition page, though?

[2017-07-17 21:50] Radiergummi commented on #1214
@KermMartian I think your usecase is completely valid, but in my opinion customizing the post publication date is a feature 90% of our users don't need, and if they do, they can simply edit the post after drafting it.
Therefore it serves Anchor's philosophy to keep the field on the edit page. Might be worth an FAQ section tho 😄

[2017-07-17 21:56] KermMartian commented on #1214
Fair enough, thanks! I'll self-close as this being an eccentric use case.

[2017-07-17 21:56] #1214 closed

[2017-08-08 04:36] corkyluu commented on #1205
please let me know when this is fixed...

[2017-08-09 04:24] helloarchie opened #1217 "Moving Anchor CMS to root (Resolved)"
### Summary

Firstly, apologies for duplicating here and in the Anchor CMS forum, I'm just not sure which is checked more regularly.

I'm trying to move Anchor CMS into my root folder which hasn't been a problem. Everything's working as it should, except the links to the articles and admin area aren't working, there's an Internal Server Error. I've checked my htaccess and the app/db.php files and

[2017-08-09 08:18] #1217 closed

[2017-08-11 09:42] MerlinElMago opened #1218 "Composer error: "The HOME or COMPOSER_HOME environment variable must be set for composer to run correctly""
When trying to install, the web server (lighttpd on Fedora 26) throws an error: "The HOME or COMPOSER_HOME environment variable must be set for composer to run correctly
"

Composer is installed via packet manager (although I tried the manual install as well with identical results).

Anchor version: 0.12.3
Server: lighttpd on Fedora 26

Best regards
Merlin

[2017-08-15 11:27] 7anshuai opened #1219 "Database errors (1138 Invalid use of NULL value) after fresh install"
### Summary

After a fresh install, i receive this error when entering the site:

Database Error: SQLSTATE[22004]: Null value not allowed: 1138 Invalid use of NULL value
SQL: ALTER TABLE `comments` CHANGE `date` `date` datetime NOT NULL AFTER `status`
The error has been logged in /anchor/errors.log

### Expected Behaviour

- the main page or admin panel

### Actual Behaviour

- After a fresh insta

[2017-08-16 08:28] 7anshuai commented on #1219
After changed [anchor/migrations/21_alter_comments_date.php#L11](https://github.com/anchorcms/anchor-cms/blob/master/anchor/migrations/21_alter_comments_date.php#L11) to:
[code]
and [anchor/migrations/61_alter_posts_created.php#L11](https://github.com/anchorcms/anchor-cms/blob/master/anchor/migrations/61_alter_posts_created.php#L11) to:
[code]
Seems to have fixed these errors. It works now.

[2017-08-16 16:37] evansharp commented on #1205
Personally I'd support simply making MySQL 5.3 unsupported.
Since `CURRENT_TIMESTAMP` did not exist prior to MySQL 5.5, we'd have to have multiple pre-insert triggers dealing with different versions AND operating systems of 5.3 and 5.4 for this to be patched.
5.5 was first released in **2009**, it's been long enough that I vote we drop support for prior versions.

[2017-08-16 17:20] evansharp commented on #1202
@shimshinatti, you should do a PR for this fix.

[2017-08-24 06:25] helloarchie opened #1220 ".htaccess redirect to https:// issues."
### Summary

Apologies if this is the incorrect place, I can't find anything on the forum. I have a weird .htaccess issue. I'm trying to force all http://helloarchie.co/ and www.helloarchie.co to https:// but there's something I've included previously that gets rid of index.php in the URL that's clashing with it every time.

### Expected Behaviour

Visiting any http://helloarchie.co or www.helloar

[2017-08-24 08:08] daviddarnes commented on #1220
Hi @helloarchie, I've just tried the site and it appears to be redirecting as expected. http://helloarchie.co and http://www.helloarchie.co all redirect to https://www.helloarchie.co

Maybe it was a caching issue? You may want to check your image hosting too, they're being served from a non-https CDN.

[2017-08-28 15:25] #1220 closed

[2017-09-17 11:01] frozenpandaman opened #1221 "In the 0.12.3 release, install/index.php still has VERSION set to 0.12.1"
https://github.com/anchorcms/anchor-cms/blob/6f6e696f8b8f67ea13cf354496e2d380dd0841fd/install/index.php#L26

[2017-09-20 19:26] #1221 closed

[2017-09-22 11:27] SampaioLeal opened #1224 "How to get User Rules from Article_Author?"
Hi, i want to get the User Rules from the `article_author` called on posts.php!

I will create a label on the "Write by: " section and i want the user rule to be like this:
![image](https://user-images.githubusercontent.com/16009837/30742519-d5aff99c-9f6f-11e7-8471-f613cf29f809.png)

[2017-09-22 11:51] daviddarnes commented on #1224
Hey, you might want to check this page out in the documentation https://docs.anchorcms.com/function-reference/articles/
You could create something like:
[code]

[2017-09-22 11:51] #1224 closed

[2017-09-22 20:41] SampaioLeal commented on #1224
So, i have to put the office/rules on the biography of the user?

[2017-09-25 21:42] daviddarnes commented on #1224
I'm afraid so, as I don't think it's possible to add custom fields to authors

[2017-09-26 22:56] peanutbudder opened #1225 "No inline images on post page using markdown"
### Summary

Inline images inserted using markdown not appearing on post's page.

### Expected Behaviour

When viewing a post's page, inline images inserted using markdown should appear normally as you would using an `<a>` tag.

### Actual Behaviour

Image markdown is not parsed and inline images are not displayed. `<a>` tags function correctly.

### Context details (if applicable)

- Anchor versi

[2017-09-28 07:52] daviddarnes commented on #1225
@peanutbudder hi there, thanks for contributing! Are you putting extra returns between your markdown images? Links (`<a>` elements) don't need to be on new lines but images do I believe.

[2017-09-28 17:05] peanutbudder commented on #1225
Yes, I made sure the add extra returns. This is my formatting to test it:

`Come join us on October 28th for our Just Tae Kwon Do It tournament here in Indianapolis. Here is our flyer and the schedule of events for that day. It is coming up close and we are super excited for it! Hope to see you there!

<img src="/content/justtaekwondoitflyer.jpg"></img>

![justtaekwondoitflyer.jpg](http://beta.ata

[2017-09-28 19:42] evansharp commented on #1213
I think we should drop support for MySQL < 5.6. See my comment on

[2017-09-29 08:26] daviddarnes commented on #1225
I'm not sure what could be happening, as the functions in the theme are exactly the same:
- https://github.com/anchorcms/anchor-cms/blob/master/themes/default/posts.php#L15
- https://github.com/anchorcms/anchor-cms/blob/master/themes/default/article.php#L6

Do you mind testing how this code reacts?
[code]

[2017-09-29 14:37] peanutbudder commented on #1225
I tried the Placeholder image and it still doesn't show up in the article. I did upgrade from 0.9.1 so it isn't a fresh install; I could try that but the articles.php functions haven't changed since then.

[2017-09-29 14:38] daviddarnes commented on #1225
@peanutbudder that could be why, I believe we're at least on 0.12.x now

[2017-09-29 14:53] peanutbudder commented on #1225
Yes, I upgraded to 0.12.3 from 0.9.1. I'll try a fresh install and see how that goes.

[2017-09-29 15:33] peanutbudder commented on #1225
A fresh install fixed this. I'm not exactly sure what didn't get changed when upgrading but at least I have a way to get it to work now. Thanks!

[2017-09-29 15:33] #1225 closed

[2017-09-29 15:35] daviddarnes commented on #1225
@peanutbudder weird, maybe a DB error as the html and the markdown gets sorted I think. Glad you got it sorted!

[2017-10-02 15:29] limenleap opened #1226 "How do I configure an SMTP server?"
Would appreciate notes on how to configure SMTP for anchorCMS. I can't seem to find one. How do I enable the "forgot password"?

Thanks!

[2017-10-03 08:24] limenleap commented on #1226
I couldn't get an answer, so this is what I ended up doing

**A) Step 1**
Firstly I installed Pear

sudo apt-get install php-pear

Then these pear packages

sudo pear install Mail
sudo pear install Net_SMTP

**B) Step 2**

Then placed these files somewhere in my main root folder of the website (The CMS is installed in a sub-folder called blog)

1) sendpearemail.php
2) gmailconfig.php

Both these f

[2017-10-03 08:24] #1226 closed

[2017-10-11 10:01] misterunknown commented on #1205
I get exactly the same error, with the following setup:
* Apache 2.4.10
* MySQL 5.5.57
* PHP 5.6.30
It's a Debian Jessie system.

[2017-10-11 11:38] jackeryjam commented on #1205
In my membery, this problem might cause by sql syntax is too strict, another reason maybe is you haven’t set mod_rewrite on.Follow these links you may solve it.Good luck.
https://github.com/anchorcms/anchor-cms/wiki/mod_rewrite
https://stackoverflow.com/questions/18762308/how-to-get-rid-of-strict-sql-mode-in-mysql

发件人: Marco Dickert
发送时间: 2017年10月11日 18:02
收件人: anchorcms/anchor-cms
抄送: Subscribed

[2017-10-11 12:17] misterunknown commented on #1205
@jackeryjam Thanks for the info. I'll try to fix it by disabling the strict mode in MySQL, but otherwise simply install MySQL 5.7 or MariaDB. At first, I didn't recognize that MySQL 5.6 and higher is required.

[2017-10-29 03:51] TheBrenny commented on #1219
@7anshuai Cheers for this! Submit a PR so we can have this merged right away!

[2017-10-29 03:52] TheBrenny commented on #1218
I think this is more an issue with Composer not installing correctly on your distro. Probably best to consult their FAQ or issues page?

[2017-10-29 18:45] Singwai opened #1228 "http://blog.anchorcms.com/feeds/rss is broken"
I notice that the feed rss export is broken on the home page.

[2017-10-30 14:09] #1219 closed

[2017-11-01 03:20] frozenpandaman commented on #1076
Just ran into this running PHP 5.6.28.

[2017-11-01 09:48] CraigChilds94 commented on #1076
Have you tried a different version? @frozenpandaman

[2017-11-01 09:54] frozenpandaman commented on #1076
@CraigChilds94 I didn't try out 7.1 or 7.2 (the other options I have besides 5.6) as I was guessing it'd be similar to @lpoujade's case where 7.0 didn't work, also on FreeBSD. However, I only encountered this error with 0.12.3 (and 4d7f0ed)… 0.12.1 behaves fine, and is what I was using before (moving hosting providers so having to migrate all my SQL stuff, and was trying to upgrade my Anchor insta

[2017-11-03 16:04] Radiergummi commented on #1226
Well, usually there's a `sendmail` binary on Linux systems available, which is what PHP uses if it is configured properly. If it is not but you have control over the server, I'd rather recommend installing `postfix` which ships with a `sendmail` binary. Next make sure your `php.ini` is configured correctly: It should have a valid `sendmail_path` (trust me, that one is freaking hard to debug) and S

[2017-11-07 14:51] #1228 closed

[2017-11-07 14:53] CraigChilds94 commented on #1218
@MerlinElMago If you can setup ENV vars on your server try `COMPOSER_HOME=~/.composer`

This isn't an Anchor related issue, it's either your server or the installation of Composer :)

[2017-11-07 14:53] #1218 closed

[2017-11-19 16:07] b4d opened #1230 "Trying to save a post without title hangs"
### Summary

When adding new post, cursor is positioned in the body of the post and user can quickly forget to add title. If you try to save the post without title you get "Saving..." and everything hangs

### Expected Behaviour

- Save the post without title or tell me that I have to enter one

### Actual Behaviour

- Page hangs while saving

### Context details (if applicable)

- Anchor version:

[2017-11-22 17:20] CraigChilds94 commented on #1230
@b4d

I'll check this out for you!

[2017-11-22 17:23] b4d commented on #1230
@CraigChilds94

Cool, thanks! If you need more info, here I am!

[2017-11-23 14:52] abutouq opened #1231 "Bug when add new page"
I'm trying to add new page with invalid redirect URL and I got below error:

[code]

- Anchor version:
0.12.3
- Server setup:
Nginx
- URL
admin/pages/add

[2017-11-24 16:31] CraigChilds94 commented on #1231
@abutouq Thanks for reporting this. Try an older version, we'll look into this as soon as we can!

[2017-11-25 00:53] freddytwonotes opened #1232 "Creating a contact form>from old forum"
### Summary
Bringing this issue from the old forum link: https://forums.anchorcms.com/d/799-making-a-contact-form

From the old thread, I set this up but was having a logging problem. the anchor dir had to be chown'd from 12345:12345 to 12345:web. That problem is resolved.

the script is still not working.

### Expected Behaviour
The "contact" form filled out and submitted. The script in: anchor/r

[2017-11-27 10:00] CraigChilds94 commented on #1232
@freddytwonotes Can you please show me the routes you've added? It looks like you've not got one for the submission :)

[2017-11-27 12:25] freddytwonotes commented on #1232
I had this script in the routes/sites.php file. I have since moved it to the themes/default/functions.php file (no change in the exception). Since this is custom for this theme it seemed more appropriate to put it there so now the routes folder is back to unchanged. Are there docs for Anchor conventions (just starting on this). Here is the script followed by the form. No change save the email retu

[2017-11-29 16:37] 14u2ponder opened #1233 "Installing anchor to hostgator issue"
### Summary

A brief but detailed explanation of the issue or bug you are reporting.
Unable to complete setup

### Expected Behaviour
Create achor homesite

- A list of steps you expected to happen in order

URL

**Important: I had to add vendor folder from a previous anchor setup, as 12.1 doesn't seem to have that folder. I am using edge browser, but I've tried Opera as well, same behavior.

###

[2017-11-30 07:14] 14u2ponder commented on #1233
I figured it out. I downloaded 12.3 by mistake and it didn't have vendor so I was trying to use 9.3 composer vendor.
I think you might want to make a better distinction between 12.3 and 12.1 on which to install, because I got really confused.

[2017-11-30 07:14] #1233 closed

[2017-11-30 07:19] 14u2ponder commented on #1213
Clarifying: is 12.3 a full install or just an update? Issues: 12.3 does not come with composer vendor folder, and I was never able to install it. Installed 12.1 fine. My question is, do I just replace system folders from 12.1 to 12.3 if I want 12.3 functions? Is that it?

[2017-11-30 13:30] thistehneisen commented on #1122
Had the exact same problem now just by using the "composer create-project anchorcms/anchor-cms anchor"

[2017-12-01 22:51] CraigChilds94 commented on #1233
Sorry about that @14u2ponder We'll look into making things clearer in the future!

[2017-12-01 23:16] 14u2ponder commented on #1233
While you are at it? Just how do you update 12.1 to 12.3?

[2017-12-01 23:17] 14u2ponder commented on #1233
@craigchilds94

[2017-12-04 08:10] aeeh commented on #1232
Dont want to open a new issue to just ask this:
@CraigChilds94  do you still active develop anchorcms?

[2017-12-04 09:41] CraigChilds94 commented on #1232
@aeeh

Currently we're not developing the CMS, just popping in every now and then to make bugfixes and releases. We got pretty far with the 1.0 release, but there were a few things we needed to finish off and tidy up.

When I get some free time I tend to do a large amount, but things have been busy for me this year.

Is there anything you need help with?

[2017-12-05 00:41] freddytwonotes commented on #1076
I ran into this with nearlyfreespeech installer fails with php5.6. 7.1 works

[2017-12-05 00:50] frozenpandaman commented on #1076
@freddytwonotes I also ran into this issue on NFSN, fwiw.

[2017-12-10 14:23] 14u2ponder opened #1235 "Crash on your blog page if you include /home in the path"
### Summary
When creating a static homepage, anchor creates a slug to whatever you name it. "/home" for example.
If you have a blog or page page for your blog and you type:
www.example.com/home/blog or www.example.com/home/page depending on whichever you created anchor crashes.

### Expected Behaviour
a simple 404 error page.

### Actual Behaviour
This only happens when you exactly do the steps li

[2017-12-11 16:40] CraigChilds94 commented on #1235
@14u2ponder Thanks for spotting this one, have you tried version`12.3`?

[2017-12-11 16:47] 14u2ponder commented on #1235
I'd like to but I don't know how to install 12.3

[2017-12-14 23:50] 14u2ponder commented on #1235
@craigchild94 have you not been able to recreate the issue? Also while I know you're busy is there anybody here that can show me how to install 12.3. I've asked several times to no avail.

[2017-12-17 12:55] pixeldrift64 commented on #1230
Hey there.

I recently ran into this issue while using Anchor and trying to create a blog post titled "2017".

So I thought I'd do some investigating and found the following problems:

When adding a new post:
- Validation is happening to check that both the title and slug are at least 3 characters long.
- It also checks that the slug is not numeric

If these things happen, there doesn't seem to be

[2017-12-21 20:37] dval opened #1237 "Installer can't find composer."
### Summary

After cloning Anchor, and navigating to the URL in browser I see the following:
[code]

Running `composer` from term, shows the following:
[code]

### Expected Behaviour

0.9 version had a friendly screen for starting the automatic install. I would have expected something similar.

### Actual Behaviour

I can not install anchor. There is only an error screen:
[code]

Running the provi

[2017-12-21 20:45] Radiergummi commented on #1237
Could you verify whether you're running the `composer install` in the project directory and your file system permissions are ok?
Additionally, getting PHP right on MacOS can be a little frustrating. There is a great tutorial and maintained repository from Swiss agency liip.ch, following that you should be able to install it correctly.
In your case, it seems like the CLI binary is still the previou

[2017-12-21 21:27] dval commented on #1237
It seemed to be 1 part idiocy and 1 part config issue. Running install from project directory was needed.
Then, after _finishing_ the installation instructions at liip.ch (which is where I updated PHP from to start with. Good to know that is a known source!) CLI and apache were showing the same version of PHP. Anchor found Composer, and I had no other issues.

Configuring PHP properly and working

[2017-12-21 21:27] #1237 closed

[2017-12-21 22:21] robshep opened #1238 "Incorrect statement on website: "Painfully easy to install""
### Summary

Installer assumes that a composer command, or shell access is available. It is not mentioned in the requirements, I have neither but have spent a great longer than 2 minutes merely to admit defeat.

### Expected Behaviour

1. T=0s download
2. upload
3. extract
4. check perms
5. create database
6. browse to install URI

7. T<120s Begin using AnchorCMS

### Actual Behaviour

1. T=0s dow

[2017-12-21 22:26] robshep commented on #1238
https://github.com/anchorcms/anchor-site/compare/master...robshep:patch-1

[2017-12-22 06:37] South-Paw commented on #1238
😆 I mean, while I ended up getting it running in the end, I'd agree about the composer stuff.

Hadn't touched PHP in a while, ended up spending an hour or two trying to work out how to use/download work composer on my windows machine. Finally found some site to download composer dependencies before uploading to the site and installing.

Easy fix would be to provide a download with dependencies inc

[2017-12-22 07:44] TheDragonRing commented on #1238
@robshep and @South-Paw I partially agree with you, partially disagree. Please read through my entire message:

I think "Painfully easy to install" is actually fairly accurate. It was easier than some other things I attempted to install, but it was still painful. And it definitely did not take 2 minutes.
"...Anchor’s tantalising two-minute install" is partially true as well. Installing and setting

[2017-12-22 08:50] robshep commented on #1238
@TheDragonRing Surely my comprehensively described experience demonstrates that  "Painfully easy to install" is **NOT** actually fairly accurate.  I've no idea how you can state otherwise.  Especially when it took you: "about 3 days"

If you want to change the marketing text to: "easier than some other things to install" then sure that's a reasonable statement.  I'm happy to make a patch for this

[2017-12-22 08:50] robshep commented on #1238
This solves it: https://github.com/anchorcms/anchor-site/pull/20

[2017-12-22 19:43] South-Paw commented on #1238
@robshep While I agree with your issue here, please bear in mind that this is an open source project. People are not (to my knowledge) being paid to work on this and at the end of the day the 'marketing text' that you are seemingly so upset about is minute in the scale of things.

There are plenty of reasonable ways to get this valid criticism solved such as

* Updating documentation to explain th

[2017-12-22 19:52] South-Paw commented on #1238
Furthermore, it would seem that you're so salty about this issue you've made a PR to delete the entire website and just redirect them to another project...

https://github.com/anchorcms/anchor-site/pull/20

Now I am being a little mean: I think you need to grow up.

[2017-12-22 19:53] robshep commented on #1238
Who's complaining?  or even ranting?
I'm just having a bit of fun, hence the flippant pull requests, that are clearly tongue in cheek.

I stopped using this at the first hurdle, but figured I would raise this issue (seemingly yet again) for something that is clearly a long standing issue that developers haven't yet addressed.

I've spent more time installing and configuring open source software th

[2017-12-22 19:54] South-Paw commented on #1238
Seems like this issue can be closed then as you're just wanting to waste other peoples time 👍

[2017-12-22 19:55] robshep commented on #1238
quite the opposite.  I don't want other peoples time wasted on the same issue.

[2017-12-22 19:57] robshep commented on #1238
And it seems somebody else ran into it 40 minutes before me.
This issue was self closed - but it's seemingly common.
https://github.com/anchorcms/anchor-cms/issues/1237

[2017-12-22 20:00] South-Paw commented on #1238
I don't have a problem with the issue itself, it seems like valid criticism - it's just the way you're approaching this all is childish 👎

[2017-12-22 20:02] robshep commented on #1238
Just a bit of fun man, lighten up.

[2017-12-22 23:34] TheDragonRing commented on #1238
@robshep obviously you did not read my post properly. I said "Painfully easy" was accurate, because the installation process was:
a) Painful; and
b) Easy

Installing Anchor itself does take me about 2 minutes. It is incredibly easy.
Installing and setting up all of the dependencies for Anchor took me maybe 15-60 minutes.
The 3 days I said were spent in testing out numerous blog softwares, experime

[2017-12-23 01:06] robshep commented on #1238
Oh come on.  Do you really think those pull requests were serious attempts at "revenge" (snigger) Who in their right mind would even consider merging that rubbish.

My larkish meanderings have obviously been misinterpreted as spite or something; It is just impish foolery based on the very strong wording to be found on this projects website.

If there weren't such a bold claim, I would have bothere

[2017-12-23 01:15] TheDragonRing commented on #1238
@robshep I know that obviously those were not serious attempts at revenge, but it's still just you fooling around. I agree that the installation guide on the website needs changing, but what I meant by "It could have been valid, but so far it is mostly just you complaining and trying to get your revenge on Anchor for not working for you first try" was that all that fooling around you've been doing

[2017-12-23 01:20] robshep commented on #1238
I doubt that would be the case.

[2017-12-23 01:26] TheDragonRing commented on #1238
You would hope that it wouldn't be, but it is always possible. They may just read your original message, see your pull requests and scroll straight to the bottom to close the issue. That's why it's usually a good idea that if you seriously want something changed, create a serious issue that just states the points that need to be changed, suggest a suitable solution, and leave it at that.

[2017-12-23 03:13] ddgroves opened #1239 "Custom image field supplying default value on saving an article"
### Summary

I make use of custom fields for theming purposes. So in that endeavor, I  have made use of a custom image field to allow a user to have a custom hero image for each article they post if they so choose. However, if you save a new article without supplying an image, the article is saved with a default value of **`content`** which causes AnchorCMS to believe there is an image which cause

[2017-12-23 19:57] South-Paw commented on #1238
@TheDragonRing I'd dare to say it's more than likely in this case.

Actions, comments and issues like those displayed here (by @robshep) are one of the the reasons for open source software burnout. Lot's of people quit because of people acting like self entitled dicks on the internet when what that dick is getting is free software with a setup time that is minuscule compared to the time it took to

[2017-12-23 20:07] South-Paw commented on #1239
If I understand what you're trying to do, you can achieve it by adjusting the theme and how/where it displays your header image - that or provide a default placeholder image as I did:

[code]

alternatively, you could try if check the `article_custom_field()` and see what it is when it's empty and then only render the image if it is not that value.

[2017-12-24 01:24] ddgroves commented on #1239
Before Saving:
![image](https://user-images.githubusercontent.com/8341178/34323410-752c7a02-e815-11e7-8a91-9d834853c57f.png)
After Saving:
![image](https://user-images.githubusercontent.com/8341178/34323420-ff21459e-e815-11e7-9de3-9110a1389aaf.png)

This custom image field somehow, after an article is saved, gets this **`content`** as a value, only if you don't upload an image to use. If you uploa

[2017-12-24 05:46] South-Paw commented on #1239
Ah I see what you mean. But that's weird, I'm also running Anchor 0.1.23 and mine does not do this

After saving a post:

![image](https://user-images.githubusercontent.com/2154764/34324513-cfa241b4-e843-11e7-97ea-912f27026c4d.png)

[2017-12-25 00:53] daviddarnes commented on #1238
Howdy all, I just had a read through this thread. I wasn't able to read the entirety as the subject started to drift away from it's original purpose. From what I could see in the initial description is that the installation process of Anchor was not as easy as they expected it to be.

It's been a while since I properly contributed to Anchor, so I decided to install the CMS as fresh myself. Granted

[2017-12-25 00:53] #1238 closed

[2017-12-29 03:52] sjpmax commented on #1215
@Wewannado , @TheBrenny , @daviddarnes : this is still an issue.

This says 5.2, but is not working with my 5.5. https://anchorcms.com/docs/getting-started/requirements

[2017-12-29 05:37] ddgroves commented on #1239
So, I did a little digging of my own to see what would be causing this problem and it seems to originate from code located in: `\anchor\models\extend.php` on lines **`113-126`** but **`125`** in particular.

case 'file':
	$value = isset($item->value->filename) ? $item->value->filename : '';

	$html = '<span class="current-file">';

	if ($value) {
		$html .= '<a href="' . asset('content/' . $value)

[2017-12-29 20:46] Wewannado commented on #1215
It only works with MySQL 5.6+ althought it's not yet reflected in the homepage.

Writing a fix for versions 5.5 or older would be too troublesome, so, because most servers should actually been using the updated versions of MySQL, It was chosen to bump the MySQL version to 5.6

[2017-12-30 01:00] staticfrost opened #1240 "How to uninstall completely?"
How to uninstall completely?

[2017-12-30 03:52] TheBrenny commented on #1239
@ddgroves is pretty close with this one.

The thing that's wrong though, is that there is not check to see if `$value` is empty. This could be fixed by adding `122-126` into the preceding `if` statement and then make an `else` statement attached to it. But I'm not at my computer! 😭

[2017-12-30 10:51] marc0tjevp commented on #1239
I've been having this problem too. I ended up doing a simple check in my theme:

` if (article_custom_field('article_image') && article_custom_field('article_image') != "/content/content")`

[2017-12-30 11:31] TheBrenny commented on #1240
Hey! I hope I'm correct in understanding that you want to delete your entire Anchor CMS installation, but even though there is no "script" that does this automagically, you have the ability to do it all manually.

Essentially:
1. Delete all the files created by Anchor
2. Jump into phpMyAdmin, and delete the Anchor DB.

This should remove most/all traces of Anchor ever being on your server. The onl

[2017-12-30 11:49] TheBrenny commented on #1235
@14u2ponder Are the instructions on the front page not working for you? ☹️

[2017-12-30 12:11] TheBrenny commented on #1205
So with the correct information displayed on Anchor's Readme page on GH, I think it's fairly safe to say that this issue can be closed. **The fix involved is that the MySQL version required must be greater than or equal to 5.6 (>=5.6 or 5.6+, whichever way suits you).**

I guess a feature (not a fix) would be to include a "pre-requisite" page on the first page of the installation phase. Hopefully

[2017-12-30 12:11] #1205 closed

[2017-12-30 12:13] TheBrenny commented on #1213
Closed as this was a duplicate of #1205.

@14u2ponder, that *SHOULD* work... Try following the setup instructions contained within the Readme.

[2017-12-30 12:13] #1213 closed

[2017-12-30 13:15] TheBrenny commented on #1135
@Larivact Well... I just realised that having a password as a stored XSS can't work. It turns into a hash anyway. 🤣

[2017-12-30 14:16] 14u2ponder commented on #1235
@TheBrenny the last time I tried to install it it didn't have the Vendor folder included, so it would not install. So I assumed that there was an upgrade procedure which the last time I tried to do that you had to replace the system folder and then import your database over. I don't know if 12.3 is either an upgrade or a standalone product is my point and maybe you have to use bowser to install it

[2017-12-30 15:00] TheBrenny commented on #1235
If you download [`master/anchor/routes/admin.php`](https://github.com/anchorcms/anchor-cms/blob/master/anchor/routes/admin.php) and [master/anchor/libraries/update.php](https://github.com/anchorcms/anchor-cms/blob/master/anchor/libraries/update.php) and replace the files in your setup with these ones, then log into the Admin Panel and direct yourself to `www.yoursite.com/admin/upgrade` and follow

[2017-12-30 15:16] 14u2ponder commented on #1235
@TheBrenny I AM using a custom file for my homepage. page-home.php and in the meta I have home pointed to home. I also have a posts.php file that is pointed to post.php. I re-named the slug "blog." You can see it here: https://thattruckneedsamudflap.com and http://thattruckneedsamudflap.com/blog

[2017-12-30 15:17] TheBrenny commented on #1135
Just checked this as well, and it seems like it's working. A heads up if people stumble upon this and think it hasn't been fixed, make sure you change the status of the account to Active.

[2017-12-30 15:17] #1135 closed

[2017-12-30 15:20] TheBrenny commented on #1235
So does that mean this issue is resolved, considering it was sounding like you made your blog with a slug of `/home/blog`?

[2017-12-30 15:32] 14u2ponder commented on #1235
@TheBrenny I can see how it might seem that way. But actually, I was testing the fact that, in anchor, when you create a static home page with page-home.php your homepage can resolve to the slug of /home. Such as: https://thattruckneedsamudflap.com/home. If you do this (and follow me here) and then type some gibberish after that: https://thattruckneedsamudflap.com/home/ahtddsfds  you will receive

[2017-12-30 15:40] 14u2ponder commented on #1235
My thinking is that it SHOULD just 404 error it. But I don't really know who you guys want to handle this because honestly most people don't use the slug /home and would not need /home/blog to resolve. Me personally, I don't want or need the /home slug but I know it is a part of anchor.

[2017-12-30 16:00] TheBrenny commented on #1235
AAaaaaaahhhh.. I get it. I understand!

I've backtracked what's going on, and it's because the conditionals on [this line](https://github.com/anchorcms/anchor-cms/blob/8fdb082de14cba631d726037bcb76316f64abde1/anchor/routes/site.php#L324) aren't quite working as they should. That's because we're testing for things and then having "hope". That's the best way I can explain it.

Anyway, if you change

[2017-12-30 16:03] 14u2ponder commented on #1235
Okay, I will today a little later and I will post the results. Leave it to me to test something stupid, lol.

[2017-12-30 16:11] 14u2ponder commented on #1235
Well, I am still on 12.1. I think it might be too much for me to switch over to 12.3 right know, and not sure it is too worth it yet. When I look at my site.php this is what I see:

`Route::get('(:all)', function($uri) {
	if( ! $page = Page::slug($slug = basename($uri))) {
		return Response::create(new Template('404'), 404);
	}

	if($page->redirect) {
		return Response::redirect($page->redirect);

[2017-12-30 16:16] TheBrenny commented on #1235
A little bit upward I've identified how to upgrade a little easier than the manual method. I can only point you in the right direction and hope that I didn't screw up somewhere.

[2017-12-30 16:20] 14u2ponder commented on #1235
Yeah, but I think it requires me to replace the anchor folder, because when I tried it, it locked me out of my site meta, so I figured that at the very least I would need to do something else. What i did was replace those two files like you said and went to my admin page and was looking for upgrade in site meta, but I got an error so I gave up, lol.

[2017-12-30 17:09] 14u2ponder commented on #1235
@TheBrenny  hey bren, I tried the update again: at first I was using update rather than upgrade. Once I used the correct file, I got this
![2017-12-30](https://user-images.githubusercontent.com/4943529/34456027-d817ba5a-ed51-11e7-9e4b-0a610403fc71.png)

[2017-12-31 02:40] TheBrenny commented on #1235
Ah true. You'll also need to replace `anchor/views/upgrade.php`. Sorry I
missed that one!

On 31 Dec 2017 02:39, "14u2ponder" <notifications@github.com> wrote:

[2017-12-31 12:22] 14u2ponder commented on #1235
@TheBrenny Sadly, the rabbit hole continues. Here is the error I get: (also, I tried replacing the status.php file with the newer one, but it just moves the same error down to line 235.

![2017-12-31](https://user-images.githubusercontent.com/4943529/34461554-97dea45c-edf2-11e7-95aa-b1d3bdf27518.png)

![2017-12-31 1](https://user-images.githubusercontent.com/4943529/34461561-ed3608be-edf2-11e7-964

[2017-12-31 12:50] 14u2ponder commented on #1235
@TheBrenny Hey, I figured this out. I was copying and pasting the code into a notepad ++ file because I didn't see a clone button, and I added an extra space in my upgrade.php file at the top before <php line. Once I fixed that it worked.

But I have a question, I see that when I clicked update it is running and I see it downloaded a folder: Anchor_update to my public_html, is it going to complete

[2018-01-01 06:55] TheBrenny commented on #1235
If you click update, it should do everything automagically. Should take no more than 10 minutes, and that's being generous. If you don't get any feedback, that's when I'd get a little bit concerned. Did you get anything from your page?

[2018-01-01 09:54] 14u2ponder commented on #1235
@TheBrenny All it did was download a folder called anchor_update and I let it go for probably 20 minutes. It never did nothing else. And it kept saying updating... and the little anchor symbol was rotating. Nothing else happened. Maybe it has spmething to do with my server. I'm no hostgator, I don't know.

[2018-01-01 10:00] TheBrenny commented on #1235
Oooh. Now this one is interesting! I feel it requires a new thread, though...

Either way, I'll ask a few questions in a sec, I just need to track down the code where things might be going wrong...

[2018-01-01 11:41] TheBrenny commented on #1235
@14u2ponder Can you open up the Dev Inspector (F12 on Chrome) and then click update? There should be something with a whole bunch of "|-|"s in it. It could be an object. Can you send through that?

[2018-01-01 12:30] 14u2ponder commented on #1235
@TheBrenny I'll try it. Do you want me to post the results, in other words?

[2018-01-01 12:36] 14u2ponder commented on #1235
@TheBrenny  here is a screenshot. looks like a json parse error, possibly.
![2018-01-01](https://user-images.githubusercontent.com/4943529/34467683-10fb71dc-eebe-11e7-8a4d-b0876e18b6a5.png)

[2018-01-01 12:43] 14u2ponder commented on #1235
@TheBrenny here are some more screens
![2018-01-01 2](https://user-images.githubusercontent.com/4943529/34467718-0c65dd50-eebf-11e7-9ed7-40966e210803.png)

![2018-01-01 3](https://user-images.githubusercontent.com/4943529/34467719-11bc20f2-eebf-11e7-995c-4a9e41ceacf5.png)

![2018-01-01 4](https://user-images.githubusercontent.com/4943529/34467721-1652dad4-eebf-11e7-8c53-6a48130fabdd.png)

[2018-01-01 12:45] TheBrenny commented on #1235
What's the response tab on that XHR look like?

[2018-01-01 12:47] 14u2ponder commented on #1235
@TheBrenny I think I sent that in the last image. It looks like it is waiting but the contant was downloaded, see far right on the image above.

[2018-01-01 12:54] 14u2ponder commented on #1235
Here I found something for you here.
Uncaught error!!!!!!!!!!
![2018-01-01 5](https://user-images.githubusercontent.com/4943529/34467782-a0958cea-eec0-11e7-8323-ef985a4045ef.png)

[2018-01-01 12:59] 14u2ponder commented on #1235
@TheBrenny Another screen.

![2018-01-01 6](https://user-images.githubusercontent.com/4943529/34467828-5be93942-eec1-11e7-9905-4222ced00fdb.png)

[2018-01-01 13:04] TheBrenny commented on #1235
It looks like the ZipArchive PHP extension isn't installed on your system. I'll see if we can drop the reliance on ZipArchive.

[2018-01-01 13:08] 14u2ponder commented on #1235
Okay, thanks!

[2018-01-03 13:49] 14u2ponder commented on #1235
@TheBrenny  quick question. I think I can enable Archive_Zip (0.1.2) from my php pear packages. Is this what you are referring to?

[2018-01-03 13:59] 14u2ponder commented on #1235
@TheBrenny well I tried it and it didn't work, so

[2018-01-06 17:40] 14u2ponder commented on #1171
Anchor is really a great microblogging system. I am not saying that, but the pagination code hasn't been looked at or updated it like 6 years or more.

The only pagination function we have is the rigid post_next, post_prev.

This should be more flexible is all I am saying.

[2018-01-06 18:53] 14u2ponder commented on #1171
@marc0tjevp
To Marc and others, I found this thread that makes the pagination styling much easier.
More options for pagination buttons HTML? #950
https://github.com/anchorcms/anchor-cms/issues/950

what it does is show you how to add a class to the "a"-tag which is very helpful.

What I would however like to see would be for the anchor team to switch to a year system or possibly a month system as

[2018-01-11 07:19] jamestaylr opened #1241 "Output should be stripped of whitespace"
### Summary

This project should consider using a function [like this one](http://php.net/manual/en/function.ob-start.php#71953) to minify / strip whitespace from rendered PHP output:
[code]

This tidies up code sent to the client, saving a few bytes in the process. This also strips comments from themes.

Adding the above code block to any component in `views` (albeit maybe not the most appropriat

[2018-01-11 07:45] Radiergummi commented on #1241
While I appreciate your efforts to improve Anchors performance, removing output whitespace is almost never a solution for speed issues. Properly configured servers use GZIP anyway, which makes the size reduction of removing whitespace almost negligible. And even without doing that, I've seen results of 3-6% output compression. That is simply not worth the effort.
Then you'll need to consider Ancho

[2018-01-11 09:01] #1241 closed

[2018-01-15 21:56] parkervcp opened #1242 "Markdown is broken on all themes but the default one"
### Summary

Markdown is broken on all the themes on https://anchorthemes.com/

### Expected Behavior

- Change Theme
- Markdown is rendered in new theme with paragraph structure.

Using "Default" theme
![screen shot 2018-01-15 at 4 54 46 pm](https://user-images.githubusercontent.com/1207679/34963132-e2b20496-fa14-11e7-9c45-d6df0d8ad581.png)

### Actual Behavior

- Change Theme
- Markdown is rende

[2018-01-17 19:53] danieljharrin opened #1243 "Installation Broken 0.12.3"
### Summary

I downloaded and extracted a new copy of 0.12.3 and ran /install. A 500 error is displayed. I have had no issues with Anchor in the past and run many installations, and 0.12.1's installer works fine for me.

### Expected Behaviour

- Should display installer

### Actual Behaviour

- 500 error &:
`[17-Jan-2018 19:48:20 UTC] PHP Warning:  require(/home/harrin/public_html/daniel/vendor/a

[2018-01-17 21:43] #1243 closed

[2018-01-18 21:12] danieljharrin opened #1244 "500 Error /install without Composer"
Hi all,

This is related to issue https://github.com/anchorcms/anchor-docs/issues/29.

When you browse to /install without Composer already setup, you get a 500 error. Maybe put the same error you get when browsing to / about not having it setup.

Any thoughts?

Daniel

[2018-01-18 23:13] danieljharrin commented on #1242
Yep, having the same issue too here.

I'm using CloudLinux, PHP 7.2, MariaDB 10.1.24 & LiteSpeed

[2018-01-18 23:28] danieljharrin commented on #1242
I've found something: all themes except default use `<?php echo article_markdown(); ?>` instead of `<?php echo article_html(); ?>` in `article.php`. If you want a quick fix, just replace the markdown version with the html version.

Long term - how is this going to be solved?
- the `article_html()` function should be a direct duplicate of `article_markdown()`. Correct me if I'm wrong here - but the

[2018-01-19 06:47] danieljharrin commented on #1242
Sure, maybe remove in 1.0 ;)

[2018-01-19 09:13] daviddarnes commented on #1242
@danieljharrin haha, not sure if this is a joke or not but it's actually a good idea. Only drawback is updating all the themes. I'm not sure I'm willing to fork all of them 😩

[2018-01-19 13:26] danieljharrin commented on #1242
@daviddarnes Maybe just create the alias function then. It's up to you.

[2018-01-20 17:14] #1244 closed

[2018-01-20 17:16] danieljharrin opened #1245 "DELETED"
DELETED

[2018-01-23 12:45] dval commented on #1118
line 126 of /anchor/routes/variables.php
`Query::table(Base::table('meta'))->where('key', '=', $key)->update($input);`

works if you change it to
`Query::table(Base::table('meta'))->where('key', '=', $input['key'])->update($input);`

The var `$key` litterally returns the string "value". Unless you name your custom field "value", it never gets updated. Using the resulting $input'value'] provides th

[2018-01-23 13:08] dval opened #1246 "is_postspage() returns true for articles"
### Summary
`if( is_postspage() ): ` returns true for individual articles.
This is in contrast to the documentation

### Expected Behaviour

I would expect that while the function returns true on the post list page, that individual articles would not be considered lists.

### Actual Behaviour

It seems the individual articles are listed under the route `/posts` which qualifies them as posts. There

[2018-01-25 22:34] #1245 closed

[2018-01-28 16:51] 14u2ponder commented on #1246
I'm confused by what you are trying to do. Articles are generated dynamically with the article.php template.
You can also use is_article to distinguish between the two. But I am more worried that you are trying to use the menu system to create articles.
The whole parent of in the pages dialogue in admin is mainly used to create a navbar menu system and I wouldn't be using it for anything else. I r

[2018-01-28 22:19] 14u2ponder commented on #1239
I just upgraded to 12.3 and I have this annoying problem. It's even worse because it throws my if statement totally out of whack. Will somebody solve this please!

[2018-01-29 03:02] dval commented on #1246
where  `tweet_url()` is defined in functions.php and builds a tweet for current url:
I was trying to use the following in footer.php

[code]

However, is_article() is what I was looking for. I can use that, with a page field.
Thank you.
[code]

[2018-01-29 03:02] #1246 closed

[2018-01-29 04:45] 14u2ponder commented on #1246
Yeah, some of the functions aren't documented. A lot of times it is better just to go to the functions folder in the anchor folder and find page.php or whatever and just look at the functions that are there. In this case, it was in helpers.php.

[2018-02-19 11:21] pehelwan opened #1247 "CVE-2018-7251 | SECURITY ADVISORY FOR ANCHORCMS | Reported by Arif Khan"
Given the high amount of risk possessed by this vulnerability has been assigned CVE-2018-7251 on the same day itself due to the high amount of risk it poses to its users . A suggested temporary fix from the end-user's side would be to forbid the access to anchorcms/errors.log .
For more information please refer to http://www.andmp.com/2018/02/advisory-assigned-CVE-2018-7251-in-anchorcms.html

Rega

[2018-02-19 15:10] daviddarnes commented on #1247
Thanks for spotting this! Would you be able to advise on a solution? Other than the user not turning on errors on live sites?

[2018-02-19 16:30] pehelwan commented on #1247
Yes , Its clear here that this file should in fact be not accessible to anyone but administrator so its a case of Improper Access Control rather , only admin should have access to it . Can you elaborate what do you mean by "Other than the user not turning on errors on live sites?"

Regards,

[2018-02-19 16:36] pehelwan commented on #1247
I couldn't however find how to whom, if at all there is a window ,I can reach out to report a security issue privately and get it resolved quickly before it gets exploited in the wild which is currently the case

[2018-02-19 17:00] daviddarnes commented on #1247
@pehelwan I didn't realise this erorr log isn't your own, I thought it was your test. Surely you shouldn't be reporting that url publicly as you're only making the security issue worse?

My query was to whether you have a bug fix in mind for the security problem?

[2018-02-19 17:07] pehelwan commented on #1247
Temporary - *Forbid* access to errors.log until further fixture

Long Time - Fixing access controls to admin only in sensitive areas like error logs files

[2018-02-19 17:10] pehelwan commented on #1247
Hmm... there are plenty of sites for OSINT to exploit this issue , one that I think is the best way to realise the precarious situation is - publicwww.com , try dorks with metatags that are a part of this CMS' front end pages  , I 'm sure you will find other ways being deeply involved with it .

[2018-02-19 17:12] pehelwan commented on #1247
So the above website , a blog I guess was my scapegoat for the purpose of this demo which I feel is legit by laws if someone is on purpose/explicitly making public his/her logs/sensotive details that are not even obfuscated and can be quickly discovered by any fuzzer even though you haven't studied the application before.

[2018-02-19 22:07] attritionorg commented on #1247
This just got assigned CVE-2018-7251 and published.

[2018-02-20 00:00] daviddarnes commented on #1247
@pehelwan thank you for reporting this. I understand that it must be quite easy to get a hold of the error log, but I would prefer not to have it posted on an open source forum for people to easily locate and use on their site without their consent. I've redacted the url for now.

As for the bug we'll have to do some investigation, but I'm guessing the only way that error log got uploaded was that

[2018-02-20 02:33] pehelwan commented on #1247
Don't think so.But why should an output of errors.php be available publicly  even then? A stack trace is what happens in case app is in debug mode but in this case whole log is public and this issue is occuring in many a websites using this CMS.This needs thorough investigation on high priority - I just got the notification - Update CVE-2018-7251 .For now users should Forbid access to this part

[2018-02-20 09:05] daviddarnes commented on #1247
@pehelwan thanks for updating the issue title, will help with future referencing. Sorry but we don't have a place other than this GitHub repo to provide credit for bug reporting

[2018-02-20 11:25] pehelwan commented on #1247
daviddarnes ,what about a Hall of Fame position on anchorcms.com website ? In case you may add one for responsible reporters or maintain a list of them ?

[2018-02-20 12:11] daviddarnes commented on #1247
@pehelwan that is an interesting idea, but I would think it would be only for people who have contributed a fair amount of development to the project

[2018-02-20 12:55] pehelwan commented on #1247
Yeah ! I agree but spotting vulnerablities have been acknowledged by projects as Wordpress and as such in their HoF .Anyways thats your wish !

[2018-02-20 15:24] Prkns opened #1249 "Forbidden permissions on anchor/views?"
### Summary

403 Forbidden Permissions on /anchor/views/assets/** once fresh install is completed?

### Expected Behaviour

- Install Anchor as per documentation
- Login using newly created credentials
- Use Anchor

### Actual Behaviour

- Install Anchor as per documentation
- Login screen has no styling, images or javascript allowed (everything showing as 403)

Despite trying to install via downl

[2018-02-20 20:58] tijme commented on #1249
@Prkns could you try to add a `.htaccess` file to the `/anchor/views/assets` folder with the following contents?

`Allow from all`

Could you let me know if this fixed it, so I can create a pull-request to fix this issue?

[2018-02-20 21:09] tijme commented on #1249
Nevermind, I just fixed and verified this myself 😄!

[2018-02-20 21:12] Prkns commented on #1249
@tijme I was literally just about to do this ha ha

[2018-02-20 22:51] Prkns opened #1251 "Version Increment"
Not so much an issue but it seems that the version number of the new 0.12.6 release is still showing 0.12.3 on [line 26](https://github.com/anchorcms/anchor-cms/blob/5e3044de5d323d5f8ecbf9a3cad9935e87c2f866/index.php#L26) of the index.php file? I've just created a fresh install and this is present in that new install.

[2018-02-20 23:49] daviddarnes commented on #1251
Good spot, feel free to make a PR if you like 👍

[2018-02-21 06:38] Prkns commented on #1251
@daviddarnes will do, does the migration number need updating too?

0.12.1 was 211 and 0.12.3 was 220 from what I can see. I might as well do them both in one PR if that's easier?

The only issue is that I don't know what the next migration number is? 😄

[2018-02-21 12:32] #1249 closed

[2018-02-21 12:34] #1251 closed

[2018-02-21 12:35] CraigChilds94 commented on #1247
Fixed by #1248

[2018-02-21 12:35] #1247 closed

[2018-02-23 14:01] marceickhoff opened #1257 "Undefined variable "ext" when saving custom image field"
### Summary

The method `resizeImage` in `anchor/models/extend.php` causes an exception because the variable `ext` is undefined. This happens when saving (and resizing) an image from a custom image field.

### Expected Behaviour

The variable `ext` should contain the image file extension.

### Actual Behaviour

It doesn't. It's undefined.

### Context details

- Anchor version: 0.12.6

### Possibl

[2018-02-23 19:27] marceickhoff opened #1258 "search_prev und search_next functions missing"
### Summary
The search pagination functions `search_prev` und `search_next` are not conveying the information of what to search for (`posts`/`pages`/`all`).

### Expected Behaviour

If I use the search field and search for "test" it will redirect me to `search/all/test`. If I click the button "Next" it should take me to `search/all/test/2`.

### Actual Behaviour

If I use the search field and sear

[2018-02-24 14:04] marceickhoff opened #1259 "Can't change value of custom site variables"
### Summary

It's not possible to change the value of custom site variables once created.

### Expected Behaviour

If I change the value of a custom variable and click on "Update" it should update the value.

### Actual Behaviour

If I change the value of a custom variable and click on "Update" it doesn't update the value even though it says that it was updated successfully.

### Context details

[2018-02-26 08:39] Radiergummi commented on #1247
@KennethWussmann I will admit we should provide examples in the documentation, but someone who uses nginx probably also has their own (VPS) server. Reasonably, you can expect those people to be proficient enough to configure nginx on their own.
There are way too many web servers to provide examples and consideration for, but the typical audience of AnchorCMS is likely using shared hosting with Apa

[2018-02-26 09:14] KennethWussmann commented on #1247
You should definitely provide this information in the installation process that you may punch holes in your system and loose your database.
Maybe there should also be the opportunity to log to a different file/directory outside of the default static served directory.

[2018-02-26 10:21] pehelwan commented on #1247
Deny access to errors.log file .Its as simple as that because the team isn't willing to integrate some other access controls

[2018-02-26 10:25] pehelwan commented on #1247
If you will go for the former fix .
in the ngnix conf file add -
location ~ /anchorcms/errors.log {
        deny  all;
}
[Note: Usually you will find this directive is commented out with #location .... so un-comment it and modify the configuration as I just said]

This should possibly solve this problem, I think besides Ngnix is generally used as a proxy/load-balancer behind apache

[2018-02-26 10:36] Radiergummi commented on #1247
@KennethWussmann although not too obvious, the log file output directory can be changed by using a custom log reporter, refer to `anchor/config/error.php` in your installation. On L15, change the output path to a directory outside of your web root.

We are currently reviewing the logging functionality and in the middle of setting up CI including E2E/unit tests to prevent things like these from hap

[2018-02-26 11:07] KennethWussmann commented on #1247
@pehelwan nginx was just an example to show that this issue is not fixed with adding a `.htaccess` file.

@Radiergummi Well, letting the users to messing about with your source code and deal with it again after updating doesn't seem to be a good solution either.

For sure it's a DevOps problem. There should just exist the opportunity for them to prepare their systems.

[2018-02-26 11:15] pehelwan commented on #1247
I meant the same , but yes thats a way to tackle ot in ngnix

[2018-02-26 15:21] pehelwan commented on #1247
This product is intended mostly for end-users or bloggers using shared hosting env, so DevOps testing isnt the right thing for them

[2018-02-26 15:22] pehelwan commented on #1247
Definitely logging functionality in config/error.php should be put to blame for this behaviour

[2018-02-28 11:03] marc0tjevp opened #1261 "Admin stylesheet forbidden"
### Summary

After upgrading anchor/views/assets/css/admin.min.css returns a 403 - forbidden message.

### Expected Behaviour

The stylesheet loads normally.

### Actual Behaviour

The stylesheet does not load, no style is applied to the admin environment and login page.

### Context details (if applicable)

- Anchor version: 0.12.6
- Server setup: Apache/2.4.29 (Unix)

[2018-03-01 13:58] josephbuarao opened #1264 "Do you need Filipino Translation for Anchorcms?"
Hi there,

Good day and how are you? I hope this message finds you well.

I am Joseph Buarao , who has been doing high quality Filipino and Tagalog translations for several projects.

Consider this message as my letter of application. I am a web developer by profession and an experienced Filipino translator - these are on top of being an experienced web developer with more than 6 years of experien

[2018-03-02 09:13] CraigChilds94 commented on #1261
This should now be fixed in the latest upload of 0.12.6 if not then we'll be getting another release out soon with some more fixed :)

[2018-03-02 09:13] #1261 closed

[2018-03-02 09:14] CraigChilds94 commented on #1259
@marceickhoff Sorry about this, I'll take a look into this next as there's quite a few issues relating to this!

[2018-03-02 09:15] CraigChilds94 commented on #1258
@marceickhoff Oh this is a weird one, glad you spotted it! I'll take a look into this one once I've done the custom field issues

[2018-03-02 09:15] CraigChilds94 commented on #1257
@marceickhoff Will take a look when I look at #1259

[2018-03-02 09:16] #1240 closed

[2018-03-02 17:08] Radiergummi commented on #1257
@CraigChilds94 We create the pathInfo, we just don't use it: [anchor/models/extend.php#L209](https://github.com/anchorcms/anchor-cms/blob/master/anchor/models/extend.php#L209)

[2018-03-02 20:40] marc0tjevp commented on #1261
Is this an upgrade from within the admin environment, I haven't received one.

[2018-03-05 09:16] FinleyCorrigan opened #1265 "CSS Disappears from admin pages..."
### Summary

The CSS of the admin panel randomly just decides to disappear completely and you are left with plain HTML. This happened after installing. I logged in to the admin panel, saw the page with CSS, visited the Posts admin page, and the CSS was missing. Then I went to every other page, and the CSS was also now missing from everywhere.

- Anchor version: 0.12.6
- Server setup: Hostmantis We

[2018-03-05 09:56] daviddarnes commented on #1265
I think this is a duplicate of https://github.com/anchorcms/anchor-cms/issues/1261, with the CSS file being forbidden

[2018-03-05 10:00] FinleyCorrigan commented on #1265
Yes - just looked... go ahead and mark this as a duplicate.

How can I fix this?

[2018-03-05 10:05] FinleyCorrigan commented on #1265
I made the site use version 0.12.3 and everything seems to work fine... so far 👀

[2018-03-05 10:08] marceickhoff commented on #1259
No need to be sorry! Seems to be a more complex issue than I thought.

[2018-03-05 14:20] CraigChilds94 commented on #1265
@FinleyCorrigan Thanks for reporting this dude, but @daviddarnes is correct it's a duplicate. I'm going to prioritise this, the 0.12.6 was updated to include the fix but it appears to not have.

Could you grab a `.zip` of the `master` branch and see if you get the same results?

[2018-03-05 14:20] #1265 closed

[2018-03-05 14:22] CraigChilds94 commented on #1215
We've updated the requirements to reflect what the project supports and to keep in line with up to date software; MySQL 5.6 is now a min requirement. :)

[2018-03-05 14:22] #1215 closed

[2018-03-05 14:23] CraigChilds94 commented on #1230
@pixeldrift64 @b4d Sorry I've not had a chance to get around to this yet, I'll look into why the validation is setup this way and see if we can lift the non-numeric or improve our validation errors messages so that the users have an idea of why it's not working :)

[2018-03-05 15:43] #1259 closed

[2018-03-06 09:15] daviddarnes commented on #1264
Hi @josephbuarao. As Anchor is an open source project you don't need to submit an application to contribute. If you are interested in contributing a translation you can submit a pull request to our translations repo https://github.com/anchorcms/anchor-translations

[2018-03-06 23:49] dval opened #1268 "Can't locate assets folder"
### Summary

0.12.6 -> 0.12.7  breaks admin panel, never completes update.
anchor can't find any files in `anchor/views/assets`
![broken-view](https://user-images.githubusercontent.com/1014630/37063884-f73b9a00-2168-11e8-96fa-8352d1f7baab.png)

### Expected Behaviour

That there would be an error notice, or a completed update.

### Actual Behaviour

After clicking 'download', I am notified the upd

[2018-03-07 04:25] dval commented on #1268
Clean install, restored content from backup. Everything back to normal. Couldn't find the cause.

[2018-03-07 04:25] #1268 closed

[2018-03-07 10:38] marc0tjevp opened #1269 "Can't upgrade from 0.12.6 -> 0.12.7"
### Summary

When promped with an upgrade, the download buttons does not work, it returns `sendAjax is not a function` in the console.

### Expected Behaviour

The upgrade downloads and is applied.

### Actual Behaviour

- Log in into admin environment
- Get promped with upgrade
- Download button does not work

### Context details (if applicable)

- Anchor version: 0.12.6
- Server setup: Apache/2.

[2018-03-07 12:14] CraigChilds94 commented on #1269
@marc0tjevp That's an odd one; mind trying it again?

[2018-03-08 00:12] marc0tjevp commented on #1269
@CraigChilds94 I just tried again, still the same result.

[2018-03-08 08:45] TheBrenny commented on #1269
I received a dancing robot... What's the network tab say? Maybe there's an
issue with how it grabs the zip from GitHub?

On Thu, Mar 8, 2018 at 9:42 AM, Marco van Poortvliet <
notifications@github.com> wrote:

[2018-03-12 15:32] joshvickerson commented on #1269
I'm having this problem as well, trying to go from 0.12.3 to 0.12.7. Attached screenshot of the console error.
<img width="965" alt="screen shot 2018-03-12 at 11 31 18 am" src="https://user-images.githubusercontent.com/2325487/37293208-03e810a6-25e9-11e8-9020-2b0ae0ed7dc0.png">

[2018-03-14 20:11] marc0tjevp commented on #1269
@TheBrenny Checked the network tab, there's no request. Clicking the button just adds a # to the url.

[2018-03-20 14:21] #1242 closed

[2018-03-28 14:47] bleft opened #1274 "Database passwords are shown in errors.log"
Please have a look at this article.
It describes how you can get the database password.

https://www.bleepingcomputer.com/news/security/anchor-cms-sites-may-be-spewing-their-database-passwords/

adding the following to my .htaccess solved the issue:

[code]

[2018-03-29 09:37] CraigChilds94 commented on #1274
@bleft This has been fixed in the latest release :) but if you're not upgrading then yes, deploying a fix like that to your current setup is recommended

[2018-03-29 09:37] #1274 closed

[2018-04-04 16:05] ccheath commented on #1205
`"message":"Database Error: SQLSTATE[42000]: Syntax error or access violation: 1067 Invalid default value for 'date'<\/code><\/p><p><code>SQL: ALTER TABLE `anchor_comments` CHANGE `date` `date` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP AFTER `status`","trace":[{"function":"ask","class":"System\\database\\connector","type":"->","args":["ALTER TABLE `anchor_comments` CHANGE `date` `date` datetime

[2018-04-04 16:23] ccheath opened #1276 "SQL syntax error 1067: similar to previous (closed) issue (#1025)"
just installed anchor 0.12.7 and at the end of the install going to the admin page it error'd

my setup: centos 7.4, apache, php7, mariadb (all updated to current versions)

is this the same 1067 rearing its head again?
or a new issue?

(darn markdown is messing up the exact syntax of the error but you get it, right?)

[2018-04-04 16:36] ccheath commented on #1276
PHP 7.1.16 (cli) (built: Mar 28 2018 13:19:29) ( NTS )
Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.1.0, Copyright (c) 1998-2018 Zend Technologies

mysql  Ver 15.1 Distrib 5.5.56-MariaDB, for Linux (x86_64) using readline 5.1

Server version: Apache/2.4.6 (CentOS)
Server built:   Oct 19 2017 20:39:16

CentOS Linux release 7.4.1708 (Core)

also i've noticed an apache error

related?

[2018-04-05 17:54] CraigChilds94 commented on #1276
@ccheath That apache error is internal, maybe related to the way your virtual host are configured? not related to Anchor.

And by the looks of it you're using an unsupported version of MySQL. You'll need a more up to date version of MariaDB or you can update the schema in your Anchor installation to remove that query.

I'd recommend MariaDB 10.2 :) the version you have is running MySQL 5.5 and we

[2018-04-05 17:54] #1276 closed

[2018-04-13 12:26] ccheath commented on #1276
i believe my msql version is 15.1 ... but you're probably right that something else on my end went awry (everything was going so smooth until the very end)

i'm going to try and re-install and give it another shot

is there a doc/guide for proper uninstall/reinstall?

thanks

[2018-04-14 13:40] scauos opened #1277 "can not install"
when I visit my site, I got a page but could not install

![9c1ed0f5-399d-497c-befe-b4a69d5ca0cb](https://user-images.githubusercontent.com/16395416/38768858-746ff5fc-402c-11e8-836b-089fa27d641b.png)

[2018-04-14 14:00] #1277 closed

[2018-06-08 21:41] dhilleCZ opened #1280 "Bug: SQL database names containing hyphens not possible"
### Summary

When installing Anchor from scratch, it is not able to get access to the server's database because of a SQL syntax error when the database's name has a particular format (containing hyphens)

### Expected Behaviour

Settle up Anchor's database structure during installation.

### Actual Behaviour

1. Start installation of Anchor CMS
2. When it comes to database setup, fill in the datab

[2018-06-10 18:58] CraigChilds94 commented on #1280
@dhilleCZ

Thanks for spotting this one!

[2018-06-12 13:56] TheBrenny commented on #1239
@ddgroves and @14u2ponder I know it's been far too long coming, but if you're still around can you update to 0.12.7 and double check that it now works? :D

[2018-06-13 05:51] TheBrenny commented on #1195
Closing due to:
- the version containing bug is 0.12.1 when the current version is 0.12.7; and
- the last post was made just about a year ago and it was requesting more details - none were provided.

[2018-06-13 05:51] #1195 closed

[2018-07-05 15:07] ddgroves commented on #1239
@TheBrenny - I did a fresh install of 0.12.7 and I am still experiencing the bug. If you don't mind me asking, what are you doing to not experience the bug? I edited the "Hello World" article and saved it and and the bug was there, I created a new article and saved it and the bug was still there. The only thing I can do to not experience the bug is upload a image.

[2018-07-09 10:42] r0v commented on #1076
Hi! I have the exact same problem. I tried with PHP 5.6 (at that point I've got another problem with symphony dependency), 7.0(the same), 7.1 and 7.2 (sha...). All on the shared hosting based on FreeBSD, and allways this error.

I checked *phpinfo* and exists sth like sha256 algorithm.
![git](https://user-images.githubusercontent.com/17937613/42446095-67fb704e-8375-11e8-9037-bc4cb43d8a39.png)

[2018-07-11 16:31] evansharp opened #1283 "Post save success function not completed on touchscreen Chromebook"
After updating to 0.12.7, saving a post appears to hang. The 'wait' cursor remains and the buttons stay disabled. Inspector shows that the form submit ajax function is serializing the data, but the notification on server respoinse is throwing an error. The trace indicates the issue is in the Zepto.js lib, which is being triggered because I'm on a touchscreen Chromebook.

The error might just be wi

[2018-07-11 16:49] evansharp commented on #1283
Using breakpoints I've determined that the ajax requests is probably not being sent before the exception goes off.

I don't know Zepto at all so I'm not sure what I'm looking at. Still at it...

[2018-07-11 17:57] evansharp commented on #1283
After clearing the cache my error has changed. The Zepto issue about `querySelectorAll` has disappeared. I believe this could be the updated version of Zepto (PR #1282) working.

Now it looks like jQuery objects are not being created however, since the `notification` object does not contain an `animate()` function, which it would if jQ were present.

[2018-07-11 18:00] evansharp commented on #1283
Discovered a small logical error around `editor.js:218` related to the `submitProgress` variable. I have changed the logic to avoid using this var altogether. The feedback on the button itself and in the document title are now as expected. This bug fix will be a part of my eventual PR when I solve the notification animate bug.

[2018-07-11 22:33] evansharp commented on #1283
As usual, the answer is simple once realized: the Zepto animate function isn't in their core anymore, so updating the Zepto lib to 1.2.0 means the `fx` module needs to be included separately. I'm going to close my previous PR #1282 and open a new one that includes the additional fx module.

[2018-07-11 22:53] evansharp commented on #1283
Ok the fx module is crazy so I'm going to roll my env back to Zepto 1.0 and see if that was even the problem...

[2018-07-13 16:31] evansharp commented on #1283
Nope, not the problem. Still not getting a save or a notification of an error on the Chromebook. Will test on another computer asap.

[2018-07-16 09:14] CraigChilds94 commented on #1283
Thanks @evansharp for finding this and looking into it, if you're able to work out the solution it'd be a great help if you could create a PR? :) If not we'll try and look into this as soon as we can!

[2018-07-17 16:15] evansharp commented on #1283
I'm struggling to build an updated (1.2) version of the Zepto,js library to hopefully improve touch screen support. They removed several of the components Anchor uses (ajax, fx, etc.) from the default distro, so to get them you have to build your own - except that they haven't updated their makefile to work with the latest versions of their own dependencies!

I'm working right now on patching a lo

[2018-07-17 17:13] Radiergummi commented on #1283
Since I'm a little weary of abstractions over perfectly fine native JS APIs but don't know Umbrella... what problems does it solve that `querySelector()`, `fetch()` and `classList` can't handle? Don't get me wrong, I appreciate your effort here, I just think we should try to get rid of a framework once and for all. Anchor uses so little JS, it's not worth the extra complexity in my opinion.

[2018-07-17 17:53] evansharp commented on #1283
@Radiergummi I agree!

As you can see, I've finished this patch. It now fixes the actual bug. I think the `.notifications` div was removed from the edit.php files by accident recently, so I replaced it in addition to updating the js.

The upgrade of Zepto was just my first step on this bug since touch standards are evolving and making sure that our shim was up-to-date made sense. I would abandon Z

[2018-07-26 08:20] TheBrenny commented on #1283
@evansharp, I dare say your skill in JS is probably just as good, if not better, than my skill in PHP. And realistically, Anchor was sort of my first *'real'* attempt at PHP. So your Java-Scriptsu might actually be more beneficial than some framework which slows things down... Just make sure it's legible and not obfuscated. 😅

@mo, time to say Zeeya to Zepto? *ba dum TSS* 😂😂😂

[2018-07-26 21:34] Radiergummi commented on #1283
@evansharp In my experience, all the cross-browser compatibility that libraries such as jQuery promise are largely irrelevant as of 2018, unless you intend to support IE. Everyone else uses Firefox, Chrome or Edge anyway, which have feature parity in almost all aspects.
[This gist](https://gist.github.com/Radiergummi/eccf7acd7916b833f65fc65005c85fdb) I wrote for a project recently is a minimal AJA

[2018-08-01 10:32] CraigChilds94 commented on #1283
@evansharp For the time being I've merged in your PR; there are certainly some improvements that could come from the tools we write these things in.

Ideally we should be looking to rip everything out and remove the unnecessary optimisations that are no longer relevant.

But we've got some other big things in the works at the moment, so I'm not sure we can dedicate the time to such a task!

[2018-08-01 10:32] #1283 closed

[2018-08-01 16:56] evansharp commented on #1283
For lack of a better place @CraigChilds94, can I ask you here:

yes and no, Zepto is the only JS lib I see being used and it is used for just two very specific things. The implications of removing dependency on it might not be that far-reaching

what optimisations? Do you mean things like the markdown editor/textarea replacement?

That's why I was volunteering :) I enjoy contributing to this proje

[2018-08-01 17:05] evansharp commented on #1239
I am experiencing this exact bug as well. I'm looking into it now.

[2018-08-01 18:00] evansharp commented on #1239
Got it:
When a post edit page loads, a hidden form field is populated with the file path stored in the db to be sent and updated on save. The db only stores a filename though, the `content/` part of the path sting is hardcoded at ln. 153.

_<aside>We should fix this so that nothing is hardcoded and the whole actual path is stored in the `anchor_post_meta` table; as a matter of style if nothing els

[2018-08-02 18:36] echoisles opened #1288 "Undefined variable: id anchor\routes\posts.php on line 283"
### Summary
save a new post throw error

### Expected Behaviour
when  field validation failed alert error msg

### Actual Behavioura
chrome Network:
`/index.php/admin/posts/add`
Undefined variable: id
The error has been logged in /anchor/errors.log
Uncaught Exception
Undefined variable: id

Origin
anchor\routes\posts.php on line 283

Trace
#0 E:\envi\anchor\anchor\routes\posts.php(283): System\err

[2018-08-09 16:39] evansharp commented on #1269
wow, Zepto again. From what @TheBrenny just said, I'd guess the the handler for the button is malformed. From @joshvickerson's stacktrace, it looks like the event is firing and request is sending, but the response is not not what's expected.

Could be another push towards that Vanilla rewrite we talked about. All these JS bugs might shake out if we just refactored Zepto out of the picture...

[2018-08-10 07:10] TheBrenny commented on #1269
@evansharp The stacktrace also looks like it's more an issue with what the server is sending back; ie, it's not actually sending a JSON response... This usually happens becuase we (probably I) may have missed a step in setting the return to be JSON instead of HTML.

[2018-08-11 07:30] adikwok commented on #492
anchor.  its fast and elegant.

could be much better with mobile responsive theme for admin area.

unfortunately i can not find any.

[2018-08-11 07:39] davidapple opened #1289 "Version One"
I remember discovering and Anchor CMS back in 2014 and helping out with the development a little bit. It's a great lightweight CMS and I love it.

It's a little disappointing that we're now in 2018 and there is still no version one. Have you considered hiring developers to help develop this project into a version one? If funds are a problem, have you considered crowd funding the money to hire some

[2018-08-14 07:25] Radiergummi commented on #1289
Hey David! Maintaining a project like AnchorCMS requires a lot of work and dedication. There have been a lot of important changes over the last four years, but as you've noted, no version one as of now. That is to say: Anchor is definitely production-ready and used for quite a few sites around the globe.
Nevertheless, we are still working on the CMS and version one in particular.
I usually just ig

[2018-08-14 07:25] #1289 closed

[2018-08-15 16:09] nitwhiz opened #1290 "/version failed to open stream: Connection timed out after login"
### Summary

After logging in I'm welcomed on https://mydomain.com/blog/admin/login with:
[code]
Pressing enter in the address bar (so not actually reloading) removes the error and I'm on the admin panel.

### Expected Behaviour

Dunno, maybe the admin panel. I freshly installed everything and am new to anchor

### Actual Behaviour

An error

### Context details (if applicable)

- Anchor version:

[2018-08-17 03:25] Gerrit0 commented on #1145
I believe it should be the option labeled `GMT+2 Europe/Berlin`, as that will choose the PHP timezone of `Europe/Berlin`, I've moved on from Anchor however so really can't say for sure.

Looks like I might have to return briefly as this will now bug me to no end :)

[2018-08-18 07:01] nitwhiz commented on #1145
Could it be that this is some daylight saving time stuff?
I referred to [this map](http://www.eclipsegeeks.com/communities/3/004/009/983/113//images/4569743367.jpg), where it says UTC=GMT and London **has to be** GMT+0.
Berlin always was GMT+1 in user interfaces i saw.
Could be i got something wrong there and UTC is handled differently when it comes to DST though, as timeanddate.com suggests.

[2018-08-18 14:56] Gerrit0 commented on #1145
Yep! That would do it. Do you have a recommendation for how the list should display? Should we just completely ignore DST when generating the timezone list?

[2018-08-18 21:44] nitwhiz commented on #1145
UTC ignores DST, so my suggestion would be to not display timezones as UTC, not as GMT.

The question is, what do users expect?
- Windows Time Settings use UTC
- Google Calendar uses GMT
- Twitter uses GMT
- Wordpress seems to use UTC (only checked some manual, don't have an instance up)
- Joomla seems to use UTC (see Wordpress)
- _Personally_ I'd be like _oh wtf_ when I see UTC, maybe google it a

[2018-08-19 20:12] evansharp commented on #1269
@TheBrenny But of course if we replaced Zepto, bugs like that would come out in the wash ;)

[2018-08-24 13:35] CraigChilds94 commented on #1290
@nitwhiz It looks like your machine wasn't able to connect to https://anchorcms.com/version

Are you able to visit this in your browser and see if you get a 404 or something?

We need to re-work this version checking stuff, it's basically used to see if there's an update for you

[2018-08-24 13:35] #1290 closed

[2018-08-24 13:36] CraigChilds94 commented on #1288
@echoisles Thanks for reporting this, I'll take a look :)

[2018-08-24 22:25] nitwhiz commented on #1290
/version leads to 404 on my hosted anchor instance, and get a version number on using [https://anchorcms.com/version](https://anchorcms.com/version) I have it in a subdirectory, does it make a difference?

[2018-08-25 10:27] #1239 closed

[2018-08-26 05:29] evansharp commented on #1191
Could you update to 0.12.7 to see if the error is still present?

[2018-08-30 21:57] jasonbrown1965 opened #1292 "minor issue | circular link to docs in github"
### Summary

This page :
https://github.com/anchorcms/anchor-cms/wiki

Has a link "Please checkout our docs here" where **"here"** leads back to the same page :
https://github.com/anchorcms/anchor-cms/wiki

### Expected Behaviour

Supposed to go here [?]  :
http://docs.anchorcms.com/

### Actual Behaviour

As above.

[2018-09-01 00:12] daviddarnes commented on #1292
@jasonbrown1965 thanks for spotting this! Should be fixed now

[2018-09-01 00:12] #1292 closed

[2018-09-08 20:31] denniskawurek opened #1293 "PHP requirement is not valid"
### Summary
The documentation is not valid anymore.

### Expected Behaviour
Tried to install anchor-cms on a server with PHP 5.6.37.

### Actual Behaviour
There is a dependecy which needs PHP 7.1.3. See image below.

![php_vers_anchrocms](https://user-images.githubusercontent.com/11777947/45258357-52d65c80-b3b6-11e8-8665-fc24dbd624fa.png)

### Context details (if applicable)

PHP vers. on server:

[2018-09-26 14:28] MdNabuatAlJahid opened #1295 "TypeError: Cannot read property 'src' of undefined"

[2018-09-26 15:57] daviddarnes commented on #1295
@MdNabuatAlJahid going to assume this issue was made in error. Closing

[2018-09-26 15:57] #1295 closed

[2018-09-30 19:28] Ayesh opened #1297 "Keep sensitive files out of the document root"
Thank you so much for the awesome work in this project. I was in search for a simple blogging platform, and this fits right well! Thanks again for this cool project. I will try to do my part with contributions as we see fit.

One of the major concerns I have is that this project seems to use the Git repo root as the document root. While this can be immensely helpful for the end users, it is less a

[2018-10-16 01:30] #1177 closed

[2018-10-31 02:48] siggi2git commented on #1283
`TypeError: f is undefined, can't access property "apply" of it  ....zepto.js`

No notifications after submit. Message does not appears in post and page section :(
Browser: FF

[2018-11-03 04:34] security-provensec opened #1298 "Stored XSS in anchor-cms"
Affected software: Anchor CMS 0.12.7

Type of vulnerability: XSS (Stored XSS)

Discovered by: Provensec

Website: http://www.provensec.com

Author: Balvinder Singh

Description: Anchor CMS is prone to a Persistent Cross-Site Scripting attack that allows a malicious user to inject HTML or scripts that can access any cookies, session tokens, or other sensitive information retained by your browser an

[2018-11-19 19:59] Radiergummi commented on #1298
@security-provensec As @Bibliofile mentioned, this is indeed not an XSS vulnerability. AnchorCMS allows HTML in pages and posts by design, since itis built as an easy CMS for designers and developers which might want to include scripts or stylesheets on individual pages, which is perfectly fine for us. **We even advertise this fact right on the front page of [anchorcms.com](https://anchorcms.com).

[2018-11-19 19:59] #1298 closed

[2018-11-22 07:21] security-provensec commented on #1298
Hi @Radiergummi,
Thanks for the reply, I would like to inform you that you have to put some sanitization on the input field so that the HTML characters are properly sanitized.

With Kind Regards
Security Provensec

[2018-11-22 09:04] daviddarnes commented on #1298
@security-provensec did you actually read @Radiergummi comment properly? Sanitisation is not necessary as the main content area intentionally accepts regular markup. Additionally, XXS attack would be somewhat redundant if the attacker already has access to the admin interface

[2018-12-03 10:10] therealmaxmoon commented on #43
I can't find a single working demo of anchorcms. Is it dead?

[2018-12-03 10:14] therealmaxmoon opened #1299 "Is Anchor CMS dead?"
I am looking for an alternative for Wordpress, because Wordpress became a huge and heavy stone and isn't good for small blogs.

Anchor looks really small and tidy, but I couldn't find a single demo page to test it. And if I visit https://anchorthemes.com/theme to check for good themes, not a single demo link works.

So my questions are:
- Is Anchor CMS dead?
- Will it be still maintained (Importan

[2018-12-03 10:32] daviddarnes commented on #1299
Hey @therealmaxmoon. Anchor CMS is still maintained, but Anchor is quite a bit older than many other CMSs out there and some of the demos that other people maintain have not been maintained. This is the same for theme demos as they are maintained by the theme developers and not the Anchor team.

I did just spend a minute to find some working demos on Anchor Themes and found quite a few actually:
-

[2018-12-03 10:32] #1299 closed

[2018-12-03 12:18] adikwok commented on #1299
Anchor is still the one of the  best, for light blog, .. i guess. for theme, learn a bit, and you can bootstrap it. i guess.On Dec 3, 2018 5:32 PM, David Darnes <notifications@github.com> wrote:Closed #1299.

—You are receiving this because you are subscribed to this thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2018-12-06 06:30] alinawaz-office commented on #1288
I would like to contribute in fixing this issue.

[2018-12-10 14:10] CraigChilds94 commented on #1293
@denniskawurek Oh thanks for stumbling across this, I'll check it out and see if I can reign that back in.

[2018-12-10 14:11] CraigChilds94 commented on #1297
I like the idea of updating the folder structure, we'll have a discussion re this and potentially put something in place following your suggestions!

[2018-12-20 01:26] MercuryhgJiang opened #1302 "can not install anchor with sqlite"
### Summary

I want install anchor with sqlite, but some wrong happend.
![image](https://cnkmmk-pic.nos-eastchina1.126.net/20181220/20181220090250.png)
![image](https://cnkmmk-pic.nos-eastchina1.126.net/20181220/20181220091340.png)

- Anchor version: 0.12.7
- Server setup:  PHP Version 7.1.5
- URL

[2019-01-03 19:04] oilvier opened #1303 "Error at last step of fresh install"
### Summary

I am trying to install Anchor version 0.12.7 on my webhost, but I have an error at the last step.

### Expected Behaviour

Completion of the install process

### Actual Behaviour

I am shown the following error :

[code]

### Context details (if applicable)

- Anchor version: 0.12.7
- Server setup: PHP 5.6, mySQL 5.5 on a shared server

[2019-01-04 08:35] oilvier commented on #1303
Maybe it is because I do not have enough privileges on my database ?
My hosting provider does not allow to change this, unfortunately.

Do you think it could be it ?

[2019-01-04 17:10] eltonmesquita opened #1304 "Drag and drop images not activated on Add/Edit pages"
### Summary

The current version - 0.12.7 - does have support for drag and drop images on Add/Edit post routes but this is not working right now on the Add/Edit page routes. I might be missing something but I think that this should work on pages too.

### Expected Behaviour

- Drop an image to the text editor on the Add or Edit page route and the upload and insertion of the markdown with the corre

[2019-01-04 19:16] eurovirt commented on #1303
Hi Oliver, have you tried contacting your hosting provider about the issue? It is indeed because you have not enough privileges to run a certain query. I suggest you try to manually run this sql file. Make sure you replace {{prefix}} with whatever prefix you entered during installation. Now, when an error occurs MySQL will return an error message with a line of the query that triggered the error.

[2019-01-07 08:52] TheBrenny commented on #1304
@eltonmesquita Yo! Cheers for finding this one, and nice catch! 🎣 If you have a fix on hand and ready to go, push it through! :D

[2019-01-07 10:45] oilvier commented on #1303
Hi,

I have run the sql file.

[code]
My database is in MySQL 5.5, if I understood correctly other issues, the latest version of Anchor needs a more recent MySQL version ?

I think I will stick with version 0.9 for the moment because I don't want to change my hosting provider yet. And my blog is not active anymore, I just want to keep it for the memories.

[2019-01-07 10:59] #1303 closed

[2019-01-09 00:37] TheBrenny commented on #1076
Just curious... Put `phpinfo()` somewhere in the anchor setup... I'm going to take a **very** blind stab and suggest that maybe Anchor *isn't* being called by the same PHP that you're checking with? Because this literally shouldn't work like that?

[2019-01-26 12:04] TheBrenny commented on #1257
Closing because #1306 fixes this.

[2019-01-26 12:04] #1257 closed

[2019-01-26 12:05] TheBrenny commented on #1288
Closing because #1305 fixes this.

[2019-01-26 12:05] #1288 closed

[2019-01-26 12:08] TheBrenny commented on #1231
Try in the latest Anchor CMS? Hopefully it's fixed? 🙏

[2019-01-26 12:13] TheBrenny commented on #1154
The code to fix the issue seems to already be in the Anchor Code. Closing.

[2019-01-26 12:13] #1154 closed

[2019-01-26 12:15] TheBrenny commented on #1118
Closing because we're well past that one week I said.

[2019-01-26 12:15] #1118 closed

[2019-02-06 20:41] pearcemichal opened #1308 "Search returns no results"
### Summary

As the title says, when I do a search, there are no result, even when searching for the exact name of a post.

I have just recently anchor installed anchor to localhost on an XAMPP server. The only customization I have done is to the theme. I did try switching back to the default theme, but it doesn't help.

Please let me know if there are any log files I can post if that helps.

[2019-04-01 12:33] veryard commented on #1280
Made a pull request with a fix for the installer.

https://github.com/anchorcms/anchor-cms/pull/1309

[2019-04-01 14:43] veryard opened #1311 "Few Small Ideas"
### Summary

Hey, i've been having a play around with AnchorCMS and it's a good start for a CMS but lacks alot of UX features that would help make the product much more appealing to new / existing users.

I'm just going to list a few small ideas here and hopefully can get some feedback and I can work towards these and pushing to the `pre-1.0-devlop` branch, if that's okay.

1. Admin Redesign - it'

[2019-04-02 01:28] veryard commented on #1308
Hey mate what version of Anchor are you running, I downloaded the latest and tested search it is returning posts.

Thanks,
Brad.

[2019-04-02 06:47] gafuri commented on #1230
Still have no fix for the bug.

[2019-04-02 08:22] daviddarnes commented on #1311
Lovely stuff Brad, here's brief comments from me on these ideas:
1. Definitely, couldn't agree more. Just needs some TLC, not a complete makeover though, I think people like the simple form of it
2. Could be nice, not sure how much it would be used though?
3. That would be cool! What would it report though? Could it be a plugin?
4. Is this for logging into the admin interface? Would be nice to add

[2019-04-02 08:26] veryard commented on #1311
Thanks for the feedback David!

1. I could easily replicate the current design in either CSS framework, I just think some sections of the admin area could benefit greatly with a redesign.
3. There isn't currently a plugin system is there? So I assume it'd be good to write maybe a hook class that'll allow plugins to hook into existing functions etc.
4. Could be on login, I was thinking for comments

[2019-04-02 11:17] daviddarnes commented on #1311
I don't think we need to use a CSS framework since the design is so simple, plus we could avoid loading a large chunk of CSS. Maybe just a CSS reset like sanitize.css and we go from there?You're right though, lots of places for improvement, the simple form of it is screaming for some TLC on smaller screens.

There is an early stage of the plugins but it's something that has been in the works for a

[2019-04-03 20:03] pearcemichal commented on #1308
I am on 0.12.7

I am currently running the blog on a local xampp site, if that is helpful to know.

[2019-04-03 20:07] veryard commented on #1308
Are you able to download and install a clean installation?

Also are there any errors? Logs?

On Thu, 4 Apr. 2019, 4:03 am TeslaCuil, <notifications@github.com> wrote:

[2019-04-04 05:56] veryard commented on #1311
https://github.com/veryard/anchor-cms/tree/admin-redesign

I started by cleaning up the `extend` tab in the administration area, the sidebar follows through when adding or editing etc.

Here's a snip:
![image](https://user-images.githubusercontent.com/3941758/55532664-4b272e00-56e1-11e9-917e-7671f8272832.png)

[2019-04-04 06:01] veryard commented on #1280
I assume this can be closed now? @CraigChilds94

[2019-04-07 15:06] #1302 closed

[2019-04-13 16:44] jocap opened #1312 "Markdown engine?"
What Markdown engine does Anchor use? Is it possible to switch it out?

Specifically, I need support for CSS's `start` property, that CommonMark supports.

[2019-04-14 08:37] jocap commented on #1312
I found it: it's defined in the `parse` function in `anchor/helpers.php`. It uses Parsedown by default.

[2019-04-14 11:31] #1312 closed

[2019-04-14 11:33] jocap commented on #1312
Now, I've installed [cmark] and modified the `parse` function to use it:

[code]

[cmark]: https://www.php.net/manual/en/book.cmark.php

[2019-04-14 11:35] jocap opened #1313 "Change /posts/ URL?"
Is there any way to change the /posts/ URL prefix, or remove it entirely? It doesn't fit with other languages than English.

I'd like this:

    http://my.blog/posts/my-post

to become either one of these:

    http://my.blog/my-post
    http://my.blog/category/my-post

Any pointers?

[2019-04-14 11:42] jocap commented on #1313
Okay, so I figured out that the "posts page" setting (in Extend > Site Settings) lets you change it, but it doesn't let you remove it, and it doesn't support more than one. I'd like to have /swedish/ and /english/, for example, but this seems impossible at the moment.

[2019-04-14 11:45] jocap opened #1314 "Remove arbitrary limitation on titles and slugs"
Is there any way for Anchor to support titles and slugs shorter than 3 characters? There are many words that are only two characters, for example.

[2019-04-14 12:06] jocap commented on #1313
I've come up with a very hacky fix. It consists of a `html_url` function that I use in my theme:

[code]

in combination with the following openbsd httpd configuration:

[code]

which works, but it feels dirty.

[2019-04-16 07:01] unloft opened #1315 "CHANGE SHOW DATABASE COMMAND"
### Summary

Hi,
 can we make a alternative command for SHOW DATABSE command in
install/libraries/installer.php
row 36

 on shared host make

SQLSTATE[42000]: Syntax error or access violation: 1227 Access denied; you need (at least one of) the SHOW DATABASES privilege(s) for this operation

### Context details (if applicable)

- Anchor version: 12.7

[2019-04-19 10:16] ducnv999 opened #1316 "Anchor CMS's license"
### I have some question

1.  Can I use Anchor cms for my clients?
2. I use Anchor CMS core and develop it to an other CMS, am I allowed? . I will credit to Anchor, of course.

Many thanks! :)

[2019-04-19 12:50] TheRolfFR opened #1317 "getmypid has been disabled for security reason"
### Summary

After instllation, it throwned me an error

### Expected Behaviour

Gets PHP's process ID

### Actual Behaviour

Throws an error

<a href="https://www.noelshack.com/2019-16-5-1555678160-screenshot-2019-04-19-uncaught-exception-anchor.png"><img src="https://image.noelshack.com/minis/2019/16/5/1555678160-screenshot-2019-04-19-uncaught-exception-anchor.png" border="0" alt="1555678160-scr

[2019-04-19 15:34] daviddarnes commented on #1316
Hey, sounds like you need to check out the license for Anchor CMS https://github.com/anchorcms/anchor-cms/blob/master/license.md

[2019-04-21 21:04] WillWammer opened #1318 "Use WSYIWIG instead of markdown editor?"
Is this an option? How can I go about doing this?

[2019-04-22 06:50] SiL3NC3 commented on #1302
Also have the same issue with current version. Why is this closed??

[2019-04-22 06:54] SiL3NC3 opened #1319 "sqlite"
### Summary

A brief but detailed explanation of the issue or bug you are reporting.

### Expected Behaviour

- A list of steps you expected to happen in order

### Actual Behaviour

- A list of steps you actually encountered

### Context details (if applicable)

- Anchor version:
- Server setup:
- URL

[2019-04-22 20:52] ducnv999 commented on #1318
You can use: https://alex-d.github.io/Trumbowyg/
Easy to get start!

[2019-04-22 20:55] ducnv999 commented on #1316
I have read it, but I'm not sure about my problem.

Can you tell me more clear?

Thanks.

[2019-04-23 07:54] Radiergummi commented on #1319
Please add new details to your issue, I'm going to reopen it then.

[2019-04-23 07:54] #1319 closed

[2019-04-23 07:55] Radiergummi commented on #1317
There's not so much we can do about this - we rely on the library that uses the function for security reasons...

[2019-04-23 07:59] Radiergummi commented on #1316
Hey @ducnv999,
as you can see in the linked license document:
 1. Yes, you may use AnchorCMS in a commercial setting without any restrictions,
 2. Yes, you're free to fork the project, modify and redistribute it, as long as you keep the attribution, the same license and disclose your modified source code. For more specific questions, please refer to the GNU General Public License v3.0.

[2019-04-23 07:59] #1316 closed

[2019-04-23 08:05] SiL3NC3 commented on #1319
Issue edited...

[2019-04-23 11:18] TheRolfFR commented on #1317
I had to replace it with a
[code]
in order to work :/

[2019-04-25 16:23] warsix4 commented on #1242
I am using 0.12.7 with the Dockyard theme, and even after having changed `article_markdown` to `article_html` I still am not able to get Markdown rendered. Is there multiple locations for article_markdown to show up?

[2019-05-02 13:55] #1317 closed

[2019-06-04 17:11] aolko opened #1321 "Broken forum, dead project? and a question"
### Summary

1. Your forum api is broken, returns 500 therefore can't post nor create threads
2. Is this project dead or abandoned?
3. How can i truncate post text (and cut post image) for *all the posts but the recent one*?

[2019-06-05 10:26] daviddarnes commented on #1321
1. Are you referring to this forum? https://forums.anchorcms.com/
2. Development has very much slowed down but it should be still functional as a CMS
3. You should be able to use php `substr` to truncate the text, and then use an if statement to check if it's the latest post

[2019-06-05 12:36] aolko commented on #1321
1. yes, since you down't have more than one
2. that sucks
3. sure, how do i exactly get all the posts but the first to apply `substr`? (even if they are paginated)

[2019-06-05 12:47] daviddarnes commented on #1321
I'm not sure why you're seeing a 500 error for the forum, works fine for me. You would apply the substr filter in the theme template code with some php

[2019-06-05 12:52] aolko commented on #1321
It happens on new thread/post creation, meaning while making it forum application errors out resulting in nothing.

so far you are telling the most obvious things, specifics or a snippet would help, thanks

[2019-06-05 13:24] daviddarnes commented on #1321
Ah I see, thanks for reporting. Don't appreciate the tone, these GitHub issues aren't for support queries. I just did a quick search and someone has done the same thing and shared it in the forum https://forums.anchorcms.com/d/2351-trim-post-content-based-on-length

[2019-06-05 13:24] #1321 closed

[2019-06-05 13:27] aolko commented on #1321
there you go, a 500 error (it's being displayed in F12 panel as well)
![](https://i.imgur.com/VUcmGZf.png)

[2019-06-05 13:33] daviddarnes commented on #1321
Did you read the comments though? There's some example code there that will help you get started at least

[2019-06-09 20:57] matronator commented on #1318
That's JS though, not PHP. I don't want to get into the whole JSxPHP debate, but PHP still has better hosting/server support than JS/node.

Back to the topic though, I would appreciate some visual editor as well (though I might just do it myself). I think Anchor is really great and love the markdown support, however markdown is not very friendly to "non-tech" people, making it difficult to use on

[2019-06-10 11:39] daviddarnes commented on #1318
I think what @ducnv999 is saying is that you can use Trumbowyg to add rich text editing into Anchor but it would still output to markdown for the CMS to interpret. The alternative is to use a text editing app that can export to Markdown. A richer text editing experience has been suggested a couple of times in various issues, I think the intention was to provide better plugin support and create a p

[2019-06-10 21:56] matronator commented on #1318
Oh, sorry, my bad.

And how is the plugin support at the moment? I'll probably make some changes to the post editor to make it more normie-friendly and was originally planning to edit the core files directly, but I wouldn't be against making it as a plugin if some decent system is in place.

[2019-06-11 09:34] daviddarnes commented on #1318
Not 100% sure with plugins, what say you @CraigChilds94?

[2019-06-14 13:44] matronator opened #1323 "Include a file from outside the Anchor scope"
Maybe a silly question, but I'm having some trouble including a file that is one directory above the Anchor installation directory.

Basically, I have a regular website with just HTML and some basic PHP and then I have a folder `/blog` where I installed Anchor. On the website I use `require_once 'menu.html';` to include the top navigation menu on all pages on the site. This however breaks in the `

[2019-06-26 01:39] #1323 closed

[2019-07-01 08:10] Radiergummi commented on #1323
Hey @matronator, just update that require to the following: `require_once __DIR__ . '/../../menu.html'`. Make sure to go as many levels up as your setup requires. The `__DIR__` constant always points to the directory of the current PHP script (_without_ a trailing slash, so make sure to add one), so that should solve your problem.
I'm closing this as it has nothing to do with Anchor itself, but if

[2019-07-01 09:00] adikwok commented on #1323
jnmmkkkmmkkOn Jul 1, 2019 3:10 PM, Mo <notifications@github.com> wrote:

[2019-07-10 12:04] matronator opened #1325 "Editing existing post wipes custom styles"
### Summary

When you open a post to edit it, the custom CSS field is empty.

### Expected Behaviour

 * Open a post to edit.
 * The custom CSS fields are filled in (saved) from previous edit/creation.

### Actual Behaviour

 * Open a post to edit.
 * The custom CSS fields are empty.

### Context details (if applicable)

- Anchor version: 1.2.7
- Server setup: MariaDB 10.1.38 Debian 9.8, Apache/2.

[2019-07-13 15:13] matronator commented on #1325
Video of the behaviour: [https://www.youtube.com/watch?v=IB7clLIRIb4](https://www.youtube.com/watch?v=IB7clLIRIb4)

[2019-08-08 16:54] exts commented on #1325
I cannot reproduce on 0.12.7 from a fresh installation.

[2019-08-11 10:22] matronator commented on #1325
Thanks for checking on a fresh installation, I looked through the code to compare my version of `anchor/views/posts/edit.php` with the original one here and found the issue was on my part.

I made some edits to the JS and CSS fields, so they'd be only visible to Admin and wouldn't confuse "regular" posters and don't know how that happened, but I have copied the code displaying the fields from `anc

[2019-08-11 10:22] #1325 closed

[2019-09-17 06:50] Ace2213 opened #1327 "[HY000] [1045] Access denied for user (using password: YES)"
I'm sorry to post this here, but for some reason I'm unable to post on the forums. It keeps saying "oops something went wrong, please refresh and try again later"

I had a crazy few days. I had to back up the directories of my MySQL databases manually because I wasn't able to make a mysql dump. Upon restoration, all my websites were inaccessible. "Table does not exist", even though the files clear

[2019-09-19 08:12] Ace2213 commented on #1327
Fixed by recreating the DB user again. I must have done something wrong the first time.

[2019-09-19 08:12] #1327 closed

[2019-10-06 15:26] nattybear commented on #964
If post title has non-english character, post did not saving. What should I do?

[2019-10-13 22:02] Ace2213 commented on #397
Is it really that hard to implement this that it keeps getting pushed?

[2019-11-05 03:30] TGRBirdFlying opened #1328 "There is a storage xss vulnerability after you login in"
First, let me explain the harm of the vulnerability.
Storage type XSS is also called persistent type.In general, it is the most harmful of the three XSS.This type of XSS  vulnerability is caused by malicious attack code that is persisted to the server and then displayed on the HTML page.  I found a storage XSS in anchorcms. The trigger condition is to log in. The details are as follows:

The first

[2019-11-12 09:33] daviddarnes commented on #1328
_"after you login"_, how can this be a vulnerability when you need to be logged in? Surely if you're logged in you're already vulnerable? 🤔

[2019-11-17 04:21] TGRBirdFlying commented on #1328
This is a vulnerability in itself. I can insert a link of rebound cookie. which will be triggerd when the administrator or others . so that I can log in directly with the cookie.without the account password.

[2019-11-18 16:43] daviddarnes commented on #1328
Well if you think it's an issue you're welcome to contribute with a fix ✨

[2019-11-19 06:44] TheBrenny commented on #1328
So wouldn't the vulnerability be with the cookies? I'm no expert though. 🤷‍♂️

[2019-11-22 16:39] xny-xx opened #1330 "composer.json file does not match the regex pattern ^[a-z0-9-]+$"
composer.json file seems not to match the expected JSON schema.

I have installed all the required php packages and configured MariaDB normally but when I try to `compose install` or `composer create-project anchorcms/anchor-cms .` at the directory that I am trying to install Anchor CMS), Composer returns only the following error message.

[code]
I'm using composer version 0.12.7 on CentOS 7.7.190

[2019-11-26 15:56] djsipe commented on #1330
Check out this and see if your `compose.json` is valid. https://getcomposer.org/schema.json

[2019-12-09 09:45] FinalTek commented on #1302
exact same problem here, install failed with sqlite backend

[2020-01-09 18:02] selfagency commented on #1330
Change `"type": "CMS"` to `"type": "cms"` and that will fix it.

[2020-01-27 19:02] Mrjavaci commented on #1330
Thank You, İt's Working !

[2020-02-14 11:54] #1330 closed

[2020-02-17 20:15] #1231 closed

[2020-02-19 14:25] KiraSokolov commented on #1302
me too

[2020-03-15 19:27] Gerrit0 commented on #1328
Duplicate of #1298?

Anchor explicitly allows admins to use raw HTML in their pages. If a user was able to make a comment with XXS, then yes this would be a problem.

[2020-03-15 19:37] daviddarnes commented on #1328
Feel like this should be closed since, as @Gerrit0 has pointed out, it’s already been addressed in #1298. Anchor intentionally allows markup when entering content, it’s down to the user to take care when entering content

[2020-03-15 23:05] TheBrenny commented on #1328
Further, it was confirmed that no user could insert unescaped chars in #1102. Closing this unless there's a genuine vulnerability. If comments are sanitized, then it's not possible for someone to steal cookies?

[2020-03-16 09:23] #1328 closed

[2020-04-22 19:08] SecGus opened #1333 "Stored Cross Site Scripting vulnerability exists in post content."
### Summary

A user is able to inject JavaScript into a post via the post creation feature.

### Expected Behaviour

The CMS should HTML encode any inputted data so it is reflected back safely to the user.

### Actual Behaviour

The CMS reflects back the post content without HTML encoding, meaning the client browser renders it as valid HTML / JS on the main page, and on that posts page. This can l

[2020-04-23 09:20] daviddarnes commented on #1333
Duplicate of https://github.com/anchorcms/anchor-cms/issues/1298

[2020-04-23 09:20] #1333 closed

[2020-04-23 15:59] SecGus opened #1334 "Authenticated path traversal vulnerability."
### Summary

An authenticated user can use a path traversal attack (`../`) in the site settings page to include and run PHP files that exist outside of the webroot.

### Expected Behaviour

- A list of steps you expected to happen in ordervendor/symfony/console/Tests/Helper/SymfonyQuestionHelperTest.php

### Actual Behaviour

- A list of steps you actually encountered

### Context details (if appl

[2020-04-27 05:03] galaktipus commented on #1333
Any relevant commit for the above issue?

[2020-04-29 23:01] TheBrenny commented on #1333
@galaktipus There's no commit because it was deemed to not be an issue. In the thread it was discussed that AnchorCMS has this as a **feature**, and **not as a vulnerability**.

Further, in the [contribution guidelines](https://github.com/anchorcms/anchor-cms/blob/master/.github/CONTRIBUTING.md#how-to-submit-issues), we request that you [search for your issue](https://github.com/anchorcms/anchor-c

[2020-04-29 23:07] SecGus commented on #1333
Apologies, this was my mistake, I did not realize it was a dupe until I had posted the issue. I do recommend blocking event handlers and script tags, to provide some sort of security, but still allowing HTML customizable content. Maybe add toggleable HTML entity encoding. Without this option, the XSS can be exploited for horizontal privilege escalation.

I understand this was added as a feature, b

[2020-04-30 20:31] nmklong opened #1335 "User Access Control"
Hi, i love anchorcms, but i'm planning to deploy a private blog platform internally for my company. Which means no access from public, i can add a basic auth on the server, but wondering if there's a solution for access control already in anchorcms? Like only logged in users can search and view the posts and pages.

[2020-05-06 05:41] lowpez opened #1336 "Duplicate posts page with different formats"
### Summary

It sounds complicated but it is simpler than it seems. I have the page and template 'Posts' as the main one, but I would like to replicate it in 'Archive' format. No images, just a listing.

Create another template called page-archive.php but it doesn't load posts like template post.php. do. This because why? How can I make this request?.
Thank you!

### Expected Behaviour

- Create a